﻿@model Navitas.ViewModels.Report.ReportEditModel
           
@{
    ViewBag.Title = Navitas.Resources.Strings.InspectionReportTitle;
}

@*<style type="text/css">
    img
    {
        height: 100px;
        width: 100px;
    }
</style>*@

<noscript><p class="error">@Navitas.Resources.ValidationStrings.JavascriptShouldBeEnabled</p></noscript>

<script type="text/javascript">

    var Navitas = Navitas || {};

    Navitas.log = function (message) {
        if (typeof console != "undefined" && console != null && typeof console.log != "undefined") {
            console.log(message);
        }
    };

    // Объект, обрабатывающий возникающие ошибки в процессе обмена с сервером
    var errorHandler = (function () {
        return {

            // Вызывается в случае когда сервер прислал код ошибки
            handleFailureCode: function (data) {
                alert(data.errorMessage);
            },

            // Вызывается когда запрос к серверу завершился с ошибкой
            handleErrorOnRequest: function (xhr, textStatus, errorThrown) {
                alert('@Navitas.Resources.Strings.ErrorMessage_ServerRequestFailure');
            }
        };
    } ());

    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function htmlDecode(value) {
        return $('<div/>').html(value).text();
    }

    function DefferedTask(action) {
        var _action = action;
        var _active = false;

        this.start = function (timeout) {
            var t = timeout || 1000;
            _active = true;
            setTimeout(function () {
                if (_active && _action) {
                    _action();
                    _active = false;
                }
            }, t);
        };

        this.abort = function () {
            _active = false;
        };

        this.execute = function () {
            if (_action) {
                _action();
                _active = false;
            }
        };
    }
</script>

@if (HttpContext.Current.IsDebuggingEnabled) {
    <script src="@Url.Content("~/Scripts/Navitas/report/05-report.submenu.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Navitas/report/08-report.toolbar.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Navitas/report/10-report.contextmenu.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Navitas/report/15-report.controller.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Navitas/report/20-report.dataservice.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Navitas/report/25-report.dialog.edittext.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Navitas/report/30-report.dialog.selectimage.debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Navitas/report/35-report.numerator.debug.js")" type="text/javascript"></script>
} else {
    <script src="@Url.Content("~/Scripts/Navitas/report/report.bundle.js")" type="text/javascript"></script>
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Отчета
    function InspectionReportViewType() {

        var self = this, // Для обработчиков событий
            hoveredClass = "hovered-element";

        var
            insertElement = function (elementId, sectionId, timestamp, layout, options) {
                var before = (options && typeof (options.before) != "undefined") ? options.before : true;

                // Изменить timestamp раздела (section)
                var $sectionEl = $("#" + sectionId);
                $sectionEl.attr("data-timestamp", timestamp);

                // Всавить новую разметку
                if (before) {
                    $("#" + elementId).before(layout);
                }
                else {
                    $("#" + elementId).after(layout);
                }
            };

        this.formId = "formInspectionReport";

        this.regenerateReportConfirmation = '@Navitas.Resources.Strings.InspectionReport_RegenerateConfirmation';

        this.btnRegenerate_Clicked = function () {
            return confirm(self.regenerateReportConfirmation);
        };

        this.clearHighlighting = function () {
            $("." + hoveredClass).removeClass(hoveredClass);
        };

        // Для текстового блока
        this.getElementProps = function (element) {

            var $el = $(element);
            if ($el.length > 0 && $el.is(':visible')) { // Для невидимых объектов считаем, что они удаленные.
                var sectionEl = $el.parent(".section");

                var props = {};
                props.elementId = $el.attr("id");
                props.sectionId = sectionEl.attr("id");
                props.timestamp = sectionEl.attr("data-timestamp");

                if ($el.hasClass("editabletext")) {
                    props.basetext = $el.children(".basetext").html();
                }

                return props;
            }
            else {
                return null;
            }
        };

        this.highlightElement = function(element, on) {
            this.clearHighlighting();
            if(on) {
                $(element).addClass(hoveredClass);
            }
            else{
                $(element).removeClass(hoveredClass);
            }
        };

        this.insertImage = function (elementId, sectionId, newTimestamp, htmlLayout, options) {
            insertElement(elementId, sectionId, newTimestamp, htmlLayout, options);
        };

        this.insertTextBlock = function (elementId, sectionId, newTimestamp, htmlLayout, options) {
            insertElement(elementId, sectionId, newTimestamp, htmlLayout, options);
        };

        this.removeElement = function (elementId, sectionId, newTimestamp) {
            $("#" + elementId).remove();

            // Изменить timestamp раздела (section)
            var $sectionEl = $("#" + sectionId);
            $sectionEl.attr("data-timestamp", newTimestamp);
        };

//        this.removeImageElement = function (elementId, sectionId, newTimestamp) {
//            removeElement(elementId, sectionId, newTimestamp);
//        };

//        this.removeRequiredImage = function (elementId, sectionId, newTimestamp) {
//            removeElement(elementId, sectionId, newTimestamp);
//        };

//        this.removeTextBlock = function (elementId, sectionId, newTimestamp) {
//            removeElement(elementId, sectionId, newTimestamp);
//        };

        this.updateTextBlock = function (elementId, sectionId, newTimestamp, htmlLayout) {

            var $el = $("#" + elementId);
            $el.replaceWith(htmlLayout);
            
            // Изменить timestamp раздела (section)
            var $sectionEl = $("#" + sectionId);
            $sectionEl.attr("data-timestamp", newTimestamp);

//            // Обновить объект
//            containerEl = $("#" + paragraphId);

//            this._initOnElement(containerEl);
//            // Переназначаем widget на уже другой элемент
//            this.element = containerEl;
        }
    }

    // Унаследоваться от базового представления
    extend(InspectionReportViewType, Navitas.ViewBase);

    // Переопределить функции

    InspectionReportViewType.prototype.base_onLoad = Navitas.ViewBase.prototype.onLoad;
    InspectionReportViewType.prototype.onLoad = function () {
        this.base_onLoad();
        this.initControls();
    };

    InspectionReportViewType.prototype.base_onUnload = Navitas.ViewBase.prototype.onUnload;
    InspectionReportViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionReportViewType.prototype.base_initControls = Navitas.ViewBase.prototype.initControls;
    InspectionReportViewType.prototype.initControls = function (container) {
        this.base_initControls(container);

        // Когда опрделен контейнер, инициализируем только элементы, содержащиейся в нем
        if (typeof (container) !== 'undefined' && container != null) {

        }
        // Когда не определен container инициализируем сразу всю страницу, т.е. все элементы
        else {
            $("#btnRegenerate").click(this.btnRegenerate_Clicked);

            $("div.tableelement-caption").before($("<br/>"));
        }

        var menuSelector = "#contextmenu";
        var containerSelector = "#inspectionReportContainer";

        var dataservice = new ReportDataService('@Model.InspectionId', errorHandler);
        var editTextDialog = new EditTextDialog(this, {
            dialogSelector: "#edittext-dialog"
        });
        var selectImageDialog = new SelectImageDialog(this, {
            dialogSelector: "#selectimage-dialog"
        });
        var numerator = new ReportNumerator(containerSelector, "h1.counter, h2, h3, div.tableelement-caption, div.chartelement-caption, div.chartstackelement-caption, div.imageelement-caption, div.required-illustration-caption, div.formulaimageelement-caption");
        var controller = new ReportController(this, dataservice, editTextDialog, selectImageDialog, numerator, {
            deleteBlockConfirmation: 'Удалить данный блок?' //'@Navitas.Resources.Strings.InspectionReport_DeleteTextBlockConfirmation'
        });

        var menuItemsOptions = {
            "editabletext": {
                "edit": { visible: true, handler: function (element) { controller.editEditableText(element); } },
                "hide": { visible: true, handler: function (element) { controller.hideElement(element); } },
                "insertbefore": { visible: true,
                    submenuHandlers: {
                        "insert-text-before": function (element) { controller.insertText(element, { before: true }); },
                        "insert-illustration-before": function (element) { controller.insertImage(element, { before: true }); }
                    }
                },
                "insertafter": { visible: true,
                    submenuHandlers: {
                        "insert-text-after": function (element) { controller.insertText(element, { before: false }); },
                        "insert-illustration-after": function (element) { controller.insertImage(element, { before: false }); }
                    }
                }
            },
            "requiredimage": {
                "edit": { visible: false },
                "hide": { visible: true, handler: function (element) { controller.hideElement(element); } },
                "insertbefore": { visible: true,
                    submenuHandlers: {
                        "insert-text-before": function (element) { controller.insertText(element, { before: true }); },
                        "insert-illustration-before": function (element) { controller.insertImage(element, { before: true }); }
                    }
                },
                "insertafter": { visible: true,
                    submenuHandlers: {
                        "insert-text-after": function (element) { controller.insertText(element, { before: false }); },
                        "insert-illustration-after": function (element) { controller.insertImage(element, { before: false }); }
                    }
                }
            },
            "imageelement": {
                "edit": { visible: false },
                "hide": { visible: true, handler: function (element) { controller.hideElement(element); } },
                "insertbefore": { visible: true,
                    submenuHandlers: {
                        "insert-text-before": function (element) { controller.insertText(element, { before: true }); },
                        "insert-illustration-before": function (element) { controller.insertImage(element, { before: true }); }
                    }
                },
                "insertafter": { visible: true,
                    submenuHandlers: {
                        "insert-text-after": function (element) { controller.insertText(element, { before: false }); },
                        "insert-illustration-after": function (element) { controller.insertImage(element, { before: false }); }
                    }
                }
            },
            "chartelement": {
                "edit": { visible: false },
                "hide": { visible: true, handler: function (element) { controller.hideElement(element); } },
                "insertbefore": { visible: true,
                    submenuHandlers: {
                        "insert-text-before": function (element) { controller.insertText(element, { before: true }); },
                        "insert-illustration-before": function (element) { controller.insertImage(element, { before: true }); }
                    }
                },
                "insertafter": { visible: true,
                    submenuHandlers: {
                        "insert-text-after": function (element) { controller.insertText(element, { before: false }); },
                        "insert-illustration-after": function (element) { controller.insertImage(element, { before: false }); }
                    }
                }
            },
            "readonlytext": {
                "edit": { visible: false },
                "hide": { visible: true, handler: function (element) { controller.hideElement(element); } },
                "insertbefore": { visible: true,
                    submenuHandlers: {
                        "insert-text-before": function (element) { controller.insertText(element, { before: true }); },
                        "insert-illustration-before": function (element) { controller.insertImage(element, { before: true }); }
                    }
                },
                "insertafter": { visible: true,
                    submenuHandlers: {
                        "insert-text-after": function (element) { controller.insertText(element, { before: false }); },
                        "insert-illustration-after": function (element) { controller.insertImage(element, { before: false }); }
                    }
                }
            },
            "staticimageelement": {
                "edit": { visible: false },
                "hide": { visible: true, handler: function (element) { controller.hideElement(element); } },
                "insertbefore": { visible: true,
                    submenuHandlers: {
                        "insert-text-before": function (element) { controller.insertText(element, { before: true }); },
                        "insert-illustration-before": function (element) { controller.insertImage(element, { before: true }); }
                    }
                },
                "insertafter": { visible: true,
                    submenuHandlers: {
                        "insert-text-after": function (element) { controller.insertText(element, { before: false }); },
                        "insert-illustration-after": function (element) { controller.insertImage(element, { before: false }); }
                    }
                }
            },
            "tableelement": {
                "edit": { visible: false },
                "hide": { visible: true, handler: function (element) { controller.hideElement(element); } },
                "insertbefore": { visible: true,
                    submenuHandlers: {
                        "insert-text-before": function (element) { controller.insertText(element, { before: true }); },
                        "insert-illustration-before": function (element) { controller.insertImage(element, { before: true }); }
                    }
                },
                "insertafter": { visible: true,
                    submenuHandlers: {
                        "insert-text-after": function (element) { controller.insertText(element, { before: false }); },
                        "insert-illustration-after": function (element) { controller.insertImage(element, { before: false }); }
                    }
                }
            }
        };

        var contextMenu = new ContextMenu(menuSelector, containerSelector, menuItemsOptions, controller);
    };

    var InspectionReportView = new InspectionReportViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        InspectionReportView.onLoad();
    });

    $(window).unload(function () {
        InspectionReportView.onUnload();
    });   
</script>

@using (Html.BeginForm("Edit", "Report", FormMethod.Post, new { id = "formInspectionReport", style="position: relative;" }))
{
    <h2>@Navitas.Resources.Strings.InspectionReportFieldset</h2>
    
    <p style="text-align: right;">
        <input type="submit" id="btnRegenerate" name="regenerate" value="@Navitas.Resources.Strings.InspectionReport_Regenerate" />
    </p>
    
    <div id="inspectionReportContainer">
        @Html.Raw(Model.HtmlLayout)
    </div>
    
    <div id="contextmenu" style="position: absolute; text-align: right">
        <span id="toolbar" class="image-toolbar toolbar ui-widget-header ui-corner-all">
            <button class="edit" name="edit">Редактировать</button>
            <button class="hide" name="hide">Удалить</button>
            <button class="insertbefore" name="insertbefore" title="Вставить до">Вставить до</button>
            <button class="insertafter" name="insertafter" title="Вставить после">Вставить после</button>
        </span>
        <div style="margin-left: auto; margin-right: 0; text-align: left;" >
            <ul id="insertbefore">
                <li id="insert-text-before" title="Вставить текст до элемента"><a href="#">Вставить текст</a></li>
                <li id="insert-illustration-before" title="Вставить иллюстрацию до элемента"><a href="#">Вставить иллюстрацию</a></li>
            </ul>
            <ul id="insertafter">
                <li id="insert-text-after" title="Вставить текст после элемента"><a href="#">Вставить текст</a></li>
                <li id="insert-illustration-after" title="Вставить иллюстрацию после элемента"><a href="#">Вставить иллюстрацию</a></li>
            </ul>
        </div>
    </div>    
}

<div style="display:none;">
    <div id="edittext-dialog" title="@Navitas.Resources.Strings.InspectionReport_EditDialogCaption">
	    <form action="/report/updatetext">
            <p id="dialog-validationMessage"></p>
            <textarea name="content" id="content" rows="10" cols="40">
            </textarea>
	    </form>
    </div>

    <div id="selectimage-dialog" title="Выберите иллюстрацию">
	    <form action="/report/notexist">
            <select name="imageSelect" id="imageSelect" size="10">
            </select>
	    </form>
    </div>
</div>
