﻿@model Soft33.EnergyPassport.V2.BL.Extended.InspectionExtended

@{
    ViewBag.Title = "Test";
}

<style type="text/css">
    td
    {
        border: 1px solid black;
    }
</style>

<h2>Test</h2>

@if (Model.Buildings[0].Illustration["общий вид"].Count > 0)
{
    foreach (var ill in Model.Buildings[0].Illustration["общий вид"])
    {
        <div class="required-illustration">
            <img src="@ill.FileName" alt="@ill.UserTitle"/>
            <span>@ill.UserTitle</span>
            <input type="hidden" value="@ill.IllustrationID" />
        </div>
    }
}
else
{
    <div class="missing-illustration" id="">
        <span>Здесь должна быть картинка.</span>
    </div>
}


@*@if (Model.Buildings[1].Illustration["общий вид"].Count > 0)
{
    foreach (var ill in Model.Buildings[1].Illustration["общий вид"])
    {
        <img src="@ill.FileName" alt="@ill.DivisionName"/>
        <div>@ill.DivisionName</div>
    }
}
else
{
    <div class="absent-illustration">
        <span>Здесь должна быть картинка.</span>
    </div>
}
*@
<ul>
@for (int i = 0; i < @Model.Buildings.Count; i++)
{
		
         if (i == @Model.Buildings.Count - 1)
         {
			    <li>@Model.Buildings[i].Name, @Model.Buildings[i].PhysicalAddress, по назначению – @Model.Buildings[i].Purpose;</li>
         }
         else
         {
			    <li>@Model.Buildings[i].Name, @Model.Buildings[i].PhysicalAddress, по назначению – @Model.Buildings[i].Purpose.</li>
         }

}
 </ul>

<span>Таблица</span><br />

@{	
			{
				Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTable table = Model.Buildings[0].GeneralInfoTable.GeneralInfoTable;
				<table>
					@for(int i = 0; i < table.Rows.Count; i++) 
					{
						<tr class="rowtype-data">
							<td>@table.Rows[i].Cells[0]</td>
							<td>@table.Rows[i].Cells[1]</td>
							<td>@table.Rows[i].Cells[2]</td>
							<td>@table.Rows[i].Cells[3]</td>
						</tr>
					} 
				</table>
			}
		}

<span>Таблица2</span><br />
		@{	
			{
				Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTable table = Model.CECD.Table;
				<table>

					<tr>
						<td rowspan="2">Энергоресурс</td>
						<td rowspan="2">Единица измерения</td>
						<td colspan="5">Годовое потребление энергоресурсов</td>
					</tr>
					<tr>
						<td>2007</td>
						<td>2008</td>
						<td>2009</td>
						<td>2010</td>
						<td>2011</td>
					</tr>

					@for(int i = 0; i < table.Rows.Count - 1; i += 2) 
					{
						<tr class=""> 
							<td rowspan="2">@table.Rows[i].Cells[0]</td>
							<td>@table.Rows[i].Cells[1]</td>
							<td>@table.Rows[i].Cells[2]</td>
							<td>@table.Rows[i].Cells[3]</td>
							<td>@table.Rows[i].Cells[4]</td>
							<td>@table.Rows[i].Cells[5]</td>
							<td>@table.Rows[i].Cells[6]</td>
						</tr>

						<tr class=""> 
							<td>@table.Rows[i+1].Cells[1]</td>
							<td>@table.Rows[i+1].Cells[2]</td>
							<td>@table.Rows[i+1].Cells[3]</td>
							<td>@table.Rows[i+1].Cells[4]</td>
							<td>@table.Rows[i+1].Cells[5]</td>
							<td>@table.Rows[i+1].Cells[6]</td>
						</tr>
					}
				</table>
			}
		}
<br />
<table style="border: 1px solid black;">
    <tr>
        <td>Энергоресурс</td>
        <td>Единица измерения</td>
        <td></td>
        <td colspan="5">Годовое потребление энергоресурсов</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>2007</td>
        <td>2008</td>
        <td>2009</td>
        <td>2010</td>
        <td>2011</td>
    </tr>
    <tr>
        <td>Энергия</td>
        <td>тут</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>квтч</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>Тепло</td>
        <td>тут</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>ГКал</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
<br />
@*@{
    public class Temp
    {
        public static string RowTypeClass(Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTableRowType rowType)
        {
            if (rowType == Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTableRowType.Header)
            {
                return "rowtype-header";
            }
            else if (rowType == Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTableRowType.Data)
            {
                return "rowtype-data";
            }
            else if (rowType == Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTableRowType.Footer)
            {
                return "rowtype-footer";
            }
            return String.Empty;
        }
    }
}*@


    @{
        {
            Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTable table = Model.Buildings[0].CSEC.SpecificEnergyConsumptionTable;
            
            <table>
            @for (int i = 0; i < table.Rows.Count; i++)
            {
                <tr class="rowtype-footer">
                    @if (i == 0)
                    {
                    <td>@table.Rows[i].Cells[0]</td>
                    <td>@table.Rows[i].Cells[1]</td>
                    <td>@table.Rows[i].Cells[2]</td>
                    <td>@table.Rows[i].Cells[3]</td>
                    }
                    else
                    {
                    <td>@table.Rows[i].Cells[0]</td>
                    <td>@table.Rows[i].Cells[1]</td>
                    <td>@table.Rows[i].Cells[2]</td>
                    <td>@table.Rows[i].Cells[3]</td>
                    }
                
                </tr>
            }
            </table>

        }

    }
        
 

</table>
        
        @{
            {
                Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTable table = Model.Buildings[0].CSEC.SpecificEnergyConsumptionTable;
            }
            
        }
        @*        if(table.Rows[i].RowType == Soft33.EnergyPassport.V2.BL.TemplateCalculations.TemplateTableRowType.Header) {
            <tr class="rowtype-header">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        }
        else
        {*@
<fieldset>
    <legend>Layout</legend>
    @Html.Raw(ViewBag.HtmlLayout)
</fieldset>