﻿@model Navitas.ViewModels.Building.BuildingItemEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = "";

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}

<tr class="buildingRow">
    <td>
        <div class="orderNumber body-ordernumber">
            @Html.Encode((int)ViewData["Index"] + 1)
        </div>
                
        @Html.Hidden(String.Format("Items[{0}].BuildingID", ViewData["Index"]), Model.BuildingID)
        @Html.Hidden(String.Format("Items[{0}].BuildingGuid", ViewData["Index"]), Model.BuildingGuid)
    </td>
    <td>
        <table>
            <tr>
                <td class="editor-label">@Html.LabelFor(m => m.PhysicalAddress)</td>
                <td colspan="4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PhysicalAddress, "String", String.Format("Items[{0}].PhysicalAddress", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].PhysicalAddress", ViewData["Index"]))
                    </div>
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(m => m.Name)</td>
                <td colspan="4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Name, "String", String.Format("Items[{0}].Name", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].Name", ViewData["Index"]))
                    </div>                    
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(m => m.Purpose)</td>
                <td colspan="4">
                    <div class="editor-field">
                        @Html.DropDownList(String.Format("Items[{0}].Purpose", ViewData["Index"]), new SelectList((SelectList)ViewData["BulidingPurposeList"], "Value", "Text", Model.Purpose))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].Purpose", ViewData["Index"]))
                    </div>
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(m => m.RegularStaff)</td>
                <td colspan="4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.RegularStaff, "String", String.Format("Items[{0}].RegularStaff", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].RegularStaff", ViewData["Index"]))
                    </div>
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(m => m.SupportStaff)</td>
                <td colspan="4">
                    <div class="editor-field">
                        @Html.EditorFor(model => model.SupportStaff, "String", String.Format("Items[{0}].SupportStaff", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].SupportStaff", ViewData["Index"]))
                    </div>
                </td>
            </tr>
            <tr>
                <td class="editor-label">@Html.LabelFor(m => m.OtherPeople)</td>
                <td class="editor-label">@Html.LabelFor(m => m.Visitors)</td>
                <td class="editor-label">@Html.LabelFor(m => m.Residents)</td>
                <td class="editor-label">@Html.LabelFor(m => m.Patients)</td>
                <td class="editor-label">@Html.LabelFor(m => m.Students)</td>
            </tr>
            <tr>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.OtherPeople, "String", String.Format("Items[{0}].OtherPeople", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].OtherPeople", ViewData["Index"]))
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Visitors, "String", String.Format("Items[{0}].Visitors", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].Visitors", ViewData["Index"]))
                    </div>
                </td>

                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Residents, "String", String.Format("Items[{0}].Residents", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].Residents", ViewData["Index"]))
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Patients, "String", String.Format("Items[{0}].Patients", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].Patients", ViewData["Index"]))
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Students, "String", String.Format("Items[{0}].Students", ViewData["Index"]))
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessage(String.Format("Items[{0}].Students", ViewData["Index"]))
                    </div>
                </td>
            </tr>
        </table>
    </td>
    <td class="controls">
        <div>
            @if (Model.BuildingID > 0)
            {
                <input class="editItem" type="submit" name="@String.Format("edit{0}", Model.BuildingID)" value="@Navitas.Resources.Strings.EditItem" title="@Navitas.Resources.Strings.EditItemDescription" />
            }
        </div>
    </td>
    <td class="controls">
        <div>
            <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>

