﻿@model Navitas.ViewModels.OKVED.OKVEDEditModel
           
@{ ViewData.TemplateInfo.HtmlFieldPrefix = ViewData["Prefix"].ToString(); }

<div class="editor-okved-container">
    <div class="editor-label">
        @Html.LabelFor(model => model.Kod, "Код")
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.Kod)
        @Html.ValidationMessageFor(model => model.Kod)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description, "Расшифровка кода")
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>
</div>
