﻿@model Navitas.ViewModels.Person.PersonEditModel
           
@*@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
*@    
 
@{ ViewData.TemplateInfo.HtmlFieldPrefix = ViewData["Prefix"].ToString(); }
 
<div class="editor-person-container">

    <div class="editor-label">
        @Html.LabelFor(model => model.Position, "Должность")
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.Position)
        @Html.ValidationMessageFor(model => model.Position)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.FullName, "Фамилия Имя Отчество")
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.FullName)
        @Html.ValidationMessageFor(model => model.FullName)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Phone, "Номер телефона")
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.Phone)
        @Html.ValidationMessageFor(model => model.Phone)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Fax, "Номер факса")
    </div>

    <div class="editor-field">
        @Html.EditorFor(model => model.Fax)
        @Html.ValidationMessageFor(model => model.Fax)
    </div>
</div>
@*}*@