﻿@model Navitas.ViewModels.Production.ProductionNumbersEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = ViewData["Prefix"].ToString();

    bool isReadonly = Model.IsReadOnly;

    object htmlAttributes;
    if(isReadonly)
    {
        // Делаем поле только для чтение и отключаем javascript-валидацию
        htmlAttributes = new { @class = "readonly", @readonly = "readonly", data_val = "false" };
    }
    else
    {
        htmlAttributes = new { @class = "hyphen-number" };
    }
}

<td>
    @Html.HiddenFor(m => m.IsReadOnly)
    <div class="editor-field">
        @Html.TextBox("BaseMinus4", Model.BaseMinus4, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.BaseMinus4)
    </div>
</td>
<td>
    <div class="editor-field">
        @Html.TextBox("BaseMinus3", Model.BaseMinus3, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.BaseMinus3)
    </div>
</td>
<td>
    <div class="editor-field">
        @Html.TextBox("BaseMinus2", Model.BaseMinus2, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.BaseMinus2)
    </div>
</td>
<td>
    <div class="editor-field">
        @Html.TextBox("BaseMinus1", Model.BaseMinus1, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.BaseMinus1)
    </div>
</td>
<td>
    <div class="editor-field">
        @Html.TextBox("BaseMinus0", Model.BaseMinus0, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.BaseMinus0)
    </div>
</td>
