﻿@model Navitas.ViewModels.Staff.StaffUnitEditModel
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = "";

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<div class="staffRow">
    <table class="contains-bodylines">
        <tr>
            <td class="orderNumber body-ordernumber">
                <div>
                    @Html.Encode((int)ViewData["Index"] + 1)
                </div>
            </td>
            <td class="body-data">
                <table class="bodyline1">
                    <tr>
                        <td class="fio">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].FIO", ViewData["Index"]), Model.FIO)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].FIO", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="position">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].Position", ViewData["Index"]), Model.Position)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].Position", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="edorgname">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].EducationalOrganizationName", ViewData["Index"]), Model.EducationalOrganizationName)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].EducationalOrganizationName", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="edorgaddress">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].EducationalOrganizationAddress", ViewData["Index"]), Model.EducationalOrganizationAddress)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].EducationalOrganizationAddress", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="edorglicense">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].EducationalOrganizationLicense", ViewData["Index"]), Model.EducationalOrganizationLicense)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].EducationalOrganizationLicense", ViewData["Index"]))
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="bodyline2">
                    <tr>
                        <td class="coursetitle">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].CourseTitle", ViewData["Index"]), Model.CourseTitle)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].CourseTitle", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="coursetype">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].CourseType", ViewData["Index"]), Model.CourseType)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].CourseType", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="startdate">
                            <div class="editor-field datepicker">
                                @Html.EditorFor(m => m.StartDate, new { prefix = String.Format("Units[{0}].StartDate", ViewData["Index"]) })
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].StartDate", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="enddate">
                            <div class="editor-field">
                                @Html.EditorFor(m => m.ExpirationDate, new { prefix = String.Format("Units[{0}].ExpirationDate", ViewData["Index"]) })
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].ExpirationDate", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="diploma">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].EducationalDiplom", ViewData["Index"]), Model.EducationalDiplom)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].EducationalDiplom", ViewData["Index"]))
                            </div>
                        </td>
                        <td class="qualif">
                            <div class="editor-field">
                                @Html.TextBox(String.Format("Units[{0}].Qualification", ViewData["Index"]), Model.Qualification)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessage(String.Format("Units[{0}].Qualification", ViewData["Index"]))
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="controls">
                <div>
                    <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
                </div>
            </td>
        </tr>
    </table>
</div>
