﻿@model Navitas.ViewModels.Vehicle.VehicleUnitEditModel
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = "";

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<div class="vehicleRow">
    <table class="contains-bodylines">
        <tr>
            <td class="orderNumber body-ordernumber">
                <div>
                    @Html.Encode((int)ViewData["Index"] + 1)
                </div>
            </td>
            <td class="body-data">
                <table class="bodyline1">
                    <tr>
                    <td class="brand">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Brand, "String", String.Format("Vehicles[{0}].Brand", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].Brand", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="model">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Model, "String", String.Format("Vehicles[{0}].Model", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].Model", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="year">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Year, "Int32", String.Format("Vehicles[{0}].Year", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].Year", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="count">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Count, "Int32", String.Format("Vehicles[{0}].Count", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].Count", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="capacity">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Capacity, "String", String.Format("Vehicles[{0}].Capacity", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].Capacity", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="fueltype">
                        <div class="editor-field">
                            @Html.DropDownList(String.Format("Vehicles[{0}].TypeOfFuel", ViewData["Index"]), new SelectList((SelectList)ViewData["FuelTypeList"], "Value", "Text", Model.TypeOfFuel))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].TypeOfFuel", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="fuelconsumption">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.FuelConsumption, "String", String.Format("Vehicles[{0}].FuelConsumption", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].FuelConsumption", ViewData["Index"]))
                        </div>
                    </td>
                    </tr>
                </table>
                <table class="bodyline2">
                    <tr>
                    <td class="mileagelastyear">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.MileageLastYear, "Int32", String.Format("Vehicles[{0}].MileageLastYear", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].MileageLastYear", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="optimelastyear">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OperatingTimeLastYear, "Int32", String.Format("Vehicles[{0}].OperatingTimeLastYear", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].OperatingTimeLastYear", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="cargovolume">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.VolumeOfCargo, "Int32", String.Format("Vehicles[{0}].VolumeOfCargo", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].VolumeOfCargo", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="passtrafvolume">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.VolumeOfPassengerTraffic, "Int32", String.Format("Vehicles[{0}].VolumeOfPassengerTraffic", ViewData["Index"]))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].VolumeOfPassengerTraffic", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="odometertype">
                        <div class="editor-field">
                            @Html.DropDownList(String.Format("Vehicles[{0}].TypeOfOdometer", ViewData["Index"]), new SelectList((SelectList)ViewData["OdometerTypeList"], "Value", "Text", Model.TypeOfOdometer))
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].TypeOfOdometer", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="odometerisok">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OdometerIsOK, "YesNo", new { prefix = String.Format("Vehicles[{0}].OdometerIsOK", ViewData["Index"]) })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].OdometerIsOK", ViewData["Index"]))
                        </div>
                    </td>
                    <td class="odometersealed">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.OdometerSealed, "YesNo", new { prefix = String.Format("Vehicles[{0}].OdometerSealed", ViewData["Index"]) })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessage(String.Format("Vehicles[{0}].OdometerSealed", ViewData["Index"]))
                        </div>
                    </td>
                    </tr>
                </table>
            </td>
            <td class="controls">
                <div>
                    <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
                </div>
            </td>
        </tr>
    </table>
</div>
