﻿@model Navitas.Models.LogOnModel

@{
    ViewBag.Title = "Вход";
}

<h2>Вход</h2>
<p>
    Пожалуйста, введите имя пользователя и пароль. @*@Html.ActionLink("Register", "Register") if you don't have an account.*@
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Имя пользователя или пароль неверны. Проверьте введенные значения.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Учетная запись</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Вход" />
            </p>
        </fieldset>
    </div>
}
