@{
    string actionName = (string)ViewContext.RouteData.Values["Action"];
}

<input type="submit" name="navItem_Inspection_Client" value="@Navitas.Resources.Strings.InspectionClient_NavItem" class="navbutton @if (String.Equals("client", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Inspection_Production" value="@Navitas.Resources.Strings.InspectionProduction_NavItem" class="navbutton @if (String.Equals("production", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Inspection_Staff" value="@Navitas.Resources.Strings.InspectionStaff_NavItem" class="navbutton @if (String.Equals("staff", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Inspection_Intake5Years" value="@Navitas.Resources.Strings.InspectionConsumption5Years_NavItem" class="navbutton @if (String.Equals("intake5years", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Inspection_IntakeLastYear" value="@Navitas.Resources.Strings.InspectionConsumptionLastYears_NavItem" class="navbutton @if (String.Equals("intakelastyear", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Inspection_Vehicles" value="@Navitas.Resources.Strings.InspectionVehicles_NavItem" class="navbutton @if (String.Equals("vehicles", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Inspection_CalculationCoeffs" value="@Navitas.Resources.Strings.InspectionCalculationCoeffs_NavItem" class="navbutton @if (String.Equals("calculationcoeffs", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Inspection_Buildings" value="@Navitas.Resources.Strings.InspectionBuildings_NavItem" class="navbutton @if (String.Equals("buildings", actionName, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
