﻿@model Navitas.ViewModels.Building.BuildingListEditModel
           
@{
    Layout = "~/Views/Inspection/_Layout.cshtml";
    ViewBag.Title = @Navitas.Resources.Strings.InspectionBuildingsTitle;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Транспорта
    function InspectionBuildingsViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "building-container";
        this.formId = "formBuildings";
        this.rowSelector = ".buildingRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Inspection/GetNewBuildingItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(InspectionBuildingsViewType, Navitas.DynamicListView);

    // Переопределить функции

    InspectionBuildingsViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    InspectionBuildingsViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    InspectionBuildingsViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    InspectionBuildingsViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionBuildingsViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    InspectionBuildingsViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    InspectionBuildingsViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    InspectionBuildingsViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    InspectionBuildingsViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    InspectionBuildingsViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };


    var InspectionBuildingsView = new InspectionBuildingsViewType();


</script>


<script type="text/javascript">
    $(document).ready(function () {
        InspectionBuildingsView.onLoad();
    });


    $(window).unload(function () {
        InspectionBuildingsView.onUnload();
    });   

</script>

@using (Html.BeginForm("Buildings", "Inspection", FormMethod.Post, new { id = "formBuildings" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.InspectionBuildingsFieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "buildings-validation" })

    <table id="building-container" class="singlerows">
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            @Html.EditorFor(model => model.Items[i], "_BuildingItem", new { index = i, BulidingPurposeList = Model.BuildingPurposeList })
        }
    </table>

    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save); }
    </p>    
}
