﻿@model Navitas.ViewModels.Inspection.CalculationCoeffsEditModel
           
@{
    ViewBag.Title = Navitas.Resources.Strings.InspectionCalculationCoeffs_Title;
}

<script type="text/javascript">

    function TechnicalViewType() {
        var self = this;

        this.formId = "formCalculationCoeffs";
    }

    // Унаследоваться от базового представления
    extend(TechnicalViewType, Navitas.ViewBase);

    // Переопределить функции

    TechnicalViewType.prototype.base_onLoad = Navitas.ViewBase.prototype.onLoad;
    TechnicalViewType.prototype.onLoad = function () {
        this.base_onLoad();
        this.initControls("#" + this.formId);
    };

    TechnicalViewType.prototype.base_onUnload = Navitas.ViewBase.prototype.onUnload;
    TechnicalViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    TechnicalViewType.prototype.base_initControls = Navitas.ViewBase.prototype.initControls;
    TechnicalViewType.prototype.initControls = function (container) {
        this.base_initControls(container);
        var self = this;

    };


    var TechnicalView = new TechnicalViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {

        TechnicalView.onLoad();
    });

    $(window).unload(function () {

        TechnicalView.onUnload();
    });   
</script>

@using (Html.BeginForm("CalculationCoeffs", "Inspection", FormMethod.Post, new { id = "formCalculationCoeffs" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.InspectionCalculationCoeffs_Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "calculationcoeffs-validation" })

    <table class="consecutive">

        @* Тариф на тепло *@
        <tr>
            <td><div class="editor-label">@Html.Encode(Navitas.Resources.Names.Technical_ThermoEnergyTariff + ", " + Navitas.Resources.Strings.Technical_ThermoEnergyTariff_Unit)</div></td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ThermoEnergyTariff)
                </div>
                <div class="validationmessage">
                    @Html.ValidationMessageFor(model => model.ThermoEnergyTariff)
                </div>
            </td>
        </tr>

        @* Тариф на холодную воду *@
        <tr>
            <td><div class="editor-label">@Navitas.Resources.Names.Technical_ColdWaterTariff</div></td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.ColdWaterTariff)
                </div>
                <div class="validationmessage">
                    @Html.ValidationMessageFor(model => model.ColdWaterTariff)
                </div>
            </td>
        </tr>

        @* Тариф на горячую воду *@
        <tr>
            <td><div class="editor-label">@Navitas.Resources.Names.Technical_HotWaterTariff</div></td>
            <td>
                <div class="editor-field">
                    @Html.EditorFor(model => model.HotWaterTariff)
                </div>
                <div class="validationmessage">
                    @Html.ValidationMessageFor(model => model.HotWaterTariff)
                </div>
            </td>
        </tr>

    </table>
  
    <p></p>
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>    
}

