﻿@model Soft33.EnergyPassport.V2.BL.Inspection
@{
    var client = (Soft33.EnergyPassport.V2.BL.Client)ViewData["Client"];
    var inspection = (Soft33.EnergyPassport.V2.BL.Inspection)ViewData["InspectionDetails"];
    ViewBag.Title = "Обследование: " + inspection.FullName;
}

<h2>Обследование: @Html.Raw(inspection.FullName)</h2>

@*<h3>Заказчик</h3>*@

@Html.Partial("_Client", client)

