﻿@model Navitas.ViewModels.Inspection.PagedInspectionsModel

@{
    ViewBag.Title = "Список обследований";
}

<h2>Список обследований</h2>

<p>
    @Html.ActionLink(Navitas.Resources.Strings.Action_AddInspection, "Client", "Inspection")
</p>

@{
    var grid = new WebGrid(null, rowsPerPage: Model.PageSize, defaultSort: "ClientCaption");
    grid.Bind(Model.Inspections, rowCount: Model.TotalRows, autoSortAndPage: false);
}

<div class="inspection-list">
    @grid.GetHtml(columns: grid.Columns(
        grid.Column(columnName: "InspectionID", canSort:false, header: "", style: "webgrid-cell",
            format: @<text>@Html.ActionLink("Выбрать", "Client", "Inspection", new { id = item.InspectionID }, new { })</text>),
        grid.Column(columnName: "ClientCaption", header: "Наименование клиента", style: "webgrid-cell"),
        grid.Column(columnName: "Accountant", canSort: false, header: "Ответственный", style: "webgrid-cell"),
        grid.Column(columnName: "AuditorFullName", header: "Аудитор", canSort: false, style: "webgrid-cell"),
        grid.Column(columnName: "State", canSort: false, header: "Статус"),
        grid.Column(columnName: "InspectionID", canSort: false, header: "", style: "webgrid-cell",
            format: @<text>@Html.ActionLink("Отчет", "Edit", "Report", new { id = item.InspectionID }, new { })</text>)
        ),
        tableStyle: "webgrid",
        headerStyle: "webgrid-header",
        footerStyle: "webgrid-footer",
        alternatingRowStyle: "webgrid-alternating-row",
        selectedRowStyle: "webgrid-selected-row",
        rowStyle: "webgrid-row-style"        
    )
</div> 
