﻿@model Navitas.ViewModels.Production.ProductionEditModel

@{
    Layout = "~/Views/Inspection/_Layout.cshtml";
    ViewBag.Title = Navitas.Resources.Strings.InspectionProductionTitle;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы
    function InspectionProductionViewType() {

    }

    // Унаследоваться от базового представления
    extend(InspectionProductionViewType, Navitas.ViewBase);

    // Переопределить функции

    InspectionProductionViewType.prototype.base_onLoad = Navitas.ViewBase.prototype.onLoad;
    InspectionProductionViewType.prototype.onLoad = function () {
        this.base_onLoad();

        this.initControls();
    };

    InspectionProductionViewType.prototype.base_onUnload = Navitas.ViewBase.prototype.onUnload;
    InspectionProductionViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionProductionViewType.prototype.base_initControls = Navitas.ViewBase.prototype.initControls;
    InspectionProductionViewType.prototype.initControls = function (container) {
        this.base_initControls(container);

        if (typeof (container) !== 'undefined' && container != null) {

        }
        else {

        }
    };

    var InspectionProductionView = new InspectionProductionViewType();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        InspectionProductionView.onLoad();
    });


    $(window).unload(function () {
        InspectionProductionView.onUnload();
    });   

</script>

@using (Html.BeginForm("Production", "Inspection", FormMethod.Post, new { id = "formProduction" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.InspectionProductionFieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "product-validation" })

    @Html.HiddenFor(m => m.BaseYear)
    <table id="inspection-production-container" class="singlerows">
        <thead>
            <tr>
                <th></th>
                <th>@Navitas.Resources.Strings.Year</th>
                <th>@Html.Encode(Model.BaseYear - 4)</th>
                <th>@Html.Encode(Model.BaseYear - 3)</th>
                <th>@Html.Encode(Model.BaseYear - 2)</th>
                <th>@Html.Encode(Model.BaseYear - 1)</th>
                <th>@Html.Encode(Model.BaseYear)</th>
            </tr>
        </thead>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row1)
            </td>
            <td class="editor-label">
                    
            </td>
            @Html.EditorFor(model => model.Row1, "_ProductionStringRow", new { Prefix = "Row1" })
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row2)
            </td>
            <td class="editor-label">
                    
            </td>
            @Html.EditorFor(model => model.Row2, "_ProductionStringRow", new { Prefix = "Row2" })
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row3)
            </td>
            <td class="editor-label">
                @Navitas.Resources.Strings.ProductionMeasurementUnit
            </td>
            @Html.EditorFor(model => model.Row3, "_ProductionFloatRow", new { Prefix = "Row3" })
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row4)
            </td>
            <td class="editor-label">
                @Navitas.Resources.Strings.ProductionMeasurementUnit
            </td>
            @Html.EditorFor(model => model.Row4, "_ProductionFloatRow", new { Prefix = "Row4" })
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row5)
            </td>
            <td class="editor-label">
                @Navitas.Resources.Strings.ProductionMeasurementUnit
            </td>
            @Html.EditorFor(model => model.Row5, "_ProductionFloatRow", new { Prefix = "Row5" })
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row6)
            </td>
            <td class="editor-label">
                @Navitas.Resources.Strings.ProductionMeasurementUnit
            </td>
            @Html.EditorFor(model => model.Row6, "_ProductionFloatRow", new { Prefix = "Row6" })
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row7)
            </td>
            <td>
                @Html.EditorFor(model => model.PhysicalTerms)
            </td>
            @Html.EditorFor(model => model.Row7, "_ProductionFloatRow", new { Prefix = "Row7" })
        </tr>
        <tr>
            <td class="editor-label">
                @Html.LabelFor(model => model.Row8)
            </td>
            <td>
                @Html.EditorFor(model => model.MainProductionPhysicalTerms)
            </td>
            @Html.EditorFor(model => model.Row8, "_ProductionFloatRow", new { Prefix = "Row8" })
        </tr>
    </table>
    
    <p></p>
       
    <label>@Html.Raw(Navitas.Resources.Strings.Import):</label>
    <textarea class="import" name="import"></textarea>
    
    <p></p>
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>
}

