﻿@model Navitas.ViewModels.Client.ClientEditModel

@{
    Layout = "~/Views/Inspection/_Layout.cshtml";
    ViewBag.Title = Navitas.Resources.Strings.InspectionClientTitle;
}

@using (Html.BeginForm("Client", "Inspection", FormMethod.Post))
{
    <p>
        @Html.Partial("_Navigation")
    </p>

    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Navitas.Resources.Strings.InspectionClientFieldset</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Краткое наименование")
        </div>

        <div class="editor-field-long">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FullName, "Полное наименование")
        </div>

        <div class="editor-field-long">
            @Html.EditorFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OPF, "Организационно правовая форма")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.OPF)
            @Html.ValidationMessageFor(model => model.OPF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.JuridicalAddress, "Юридический адрес")
        </div>

        <div class="editor-field-long">
            @Html.EditorFor(model => model.JuridicalAddress)
            @Html.ValidationMessageFor(model => model.JuridicalAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PhysicalAddress, "Фактический адрес")
        </div>

        <div class="editor-field-long">
            @Html.EditorFor(model => model.PhysicalAddress)
            @Html.ValidationMessageFor(model => model.PhysicalAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NameOfParentCompany, "Наименование основного общества (Для зависимых обществ)")
        </div>

        <div class="editor-field-long">
            @Html.EditorFor(model => model.NameOfParentCompany)
            @Html.ValidationMessageFor(model => model.NameOfParentCompany)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ShareOfOwnership, "Доля муниципальной, государственной обственности")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.ShareOfOwnership)
            @Html.ValidationMessageFor(model => model.ShareOfOwnership)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.INN, "ИНН")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.INN)
            @Html.ValidationMessageFor(model => model.INN)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.KPP, "КПП")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.KPP)
            @Html.ValidationMessageFor(model => model.KPP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentAccount, "Расчётный счёт")
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentAccount)
            @Html.ValidationMessageFor(model => model.CurrentAccount)
        </div>

        @*ОКВЭД*@
        <fieldset>
            <legend>ОКВЭД</legend>
            @Html.EditorFor(m => m.Okved, "_OKVED", new { Prefix = "Okved" })
        </fieldset>

        @*Руководитель*@
        <fieldset>
            <legend>Руководитель</legend>
            @Html.EditorFor(m => m.Head, "_Person", new { Prefix = "Head" })
        </fieldset>

        @*Ответственный за энергообследование*@
        <fieldset>
            <legend>Ответственный за энергообследование</legend>
            @Html.EditorFor(m => m.TechnicalPerson, "_Person", new { Prefix = "TechnicalPerson" })
        </fieldset>

        @*Энергетик*@
        <fieldset>
            <legend>Энергетик</legend>
            @Html.EditorFor(m => m.EnergyPerson, "_Person", new { Prefix = "EnergyPerson" })
        </fieldset>

        @*<input type="submit" value="Далее"  /> *@
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Next); }
    </fieldset>
}