﻿@model Navitas.ViewModels.Intake.FiveYearIntakeEditModel

@{
    Layout = "~/Views/Inspection/_Layout.cshtml";
    ViewBag.Title = Navitas.Resources.Strings.InspectionConsumption5YearsTitle;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Потребления
    function InspectionIntake5ViewType() {

        var self = this; // Для обработчиков событий
        this.formId = "formIntake";

        // Генерация id элемента по индексу строки и столбца
        this.inpIdSel = function (unitIndex, itemIndex) {
            return "#Units_" + unitIndex.toString() + "__BaseMinus" + (4-itemIndex).toString();
            
        };
    }

    // Унаследоваться от базового представления
    extend(InspectionIntake5ViewType, Navitas.ViewBase);

    // Переопределить функции

    InspectionIntake5ViewType.prototype.base_onLoad = Navitas.ViewBase.prototype.onLoad;
    InspectionIntake5ViewType.prototype.onLoad = function () {
        this.base_onLoad();
        this.initControls();
    };

    InspectionIntake5ViewType.prototype.base_onUnload = Navitas.ViewBase.prototype.onUnload;
    InspectionIntake5ViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionIntake5ViewType.prototype.base_initControls = Navitas.ViewBase.prototype.initControls;
    InspectionIntake5ViewType.prototype.initControls = function (container) {
        this.base_initControls(container);

//        // init plugin
//        $(this).autocalc('init', {
//            fractionDigits: 2,
//            fractionSeparator: ',',
//            emptyText: 'n/a'
//        });

        // Автоматическое суммирование для строк "Тепловой энергии" - Объем
        $(this.inpIdSel(2, 0)).autocalc('sum', [this.inpIdSel(4, 0), this.inpIdSel(6, 0), this.inpIdSel(8, 0)]);
        $(this.inpIdSel(2, 1)).autocalc('sum', [this.inpIdSel(4, 1), this.inpIdSel(6, 1), this.inpIdSel(8, 1)]);
        $(this.inpIdSel(2, 2)).autocalc('sum', [this.inpIdSel(4, 2), this.inpIdSel(6, 2), this.inpIdSel(8, 2)]);
        $(this.inpIdSel(2, 3)).autocalc('sum', [this.inpIdSel(4, 3), this.inpIdSel(6, 3), this.inpIdSel(8, 3)]);
        $(this.inpIdSel(2, 4)).autocalc('sum', [this.inpIdSel(4, 4), this.inpIdSel(6, 4), this.inpIdSel(8, 4)]);

        // Автоматическое суммирование для строк "Тепловой энергии" - Затраты
        $(this.inpIdSel(3, 0)).autocalc('sum', [this.inpIdSel(5, 0), this.inpIdSel(7, 0), this.inpIdSel(9, 0)]);
        $(this.inpIdSel(3, 1)).autocalc('sum', [this.inpIdSel(5, 1), this.inpIdSel(7, 1), this.inpIdSel(9, 1)]);
        $(this.inpIdSel(3, 2)).autocalc('sum', [this.inpIdSel(5, 2), this.inpIdSel(7, 2), this.inpIdSel(9, 2)]);
        $(this.inpIdSel(3, 3)).autocalc('sum', [this.inpIdSel(5, 3), this.inpIdSel(7, 3), this.inpIdSel(9, 3)]);
        $(this.inpIdSel(3, 4)).autocalc('sum', [this.inpIdSel(5, 4), this.inpIdSel(7, 4), this.inpIdSel(9, 4)]);

        // Автоматическое суммирование для строк "Моторного масла" - Объем
        $(this.inpIdSel(22, 0)).autocalc('sum', [this.inpIdSel(24, 0), this.inpIdSel(26, 0), this.inpIdSel(28, 0), this.inpIdSel(30, 0)]);
        $(this.inpIdSel(22, 1)).autocalc('sum', [this.inpIdSel(24, 1), this.inpIdSel(26, 1), this.inpIdSel(28, 1), this.inpIdSel(30, 1)]);
        $(this.inpIdSel(22, 2)).autocalc('sum', [this.inpIdSel(24, 2), this.inpIdSel(26, 2), this.inpIdSel(28, 2), this.inpIdSel(30, 2)]);
        $(this.inpIdSel(22, 3)).autocalc('sum', [this.inpIdSel(24, 3), this.inpIdSel(26, 3), this.inpIdSel(28, 3), this.inpIdSel(30, 3)]);
        $(this.inpIdSel(22, 4)).autocalc('sum', [this.inpIdSel(24, 4), this.inpIdSel(26, 4), this.inpIdSel(28, 4), this.inpIdSel(30, 4)]);

        // Автоматическое суммирование для строк "Моторного масла" - Затраты
        $(this.inpIdSel(23, 0)).autocalc('sum', [this.inpIdSel(25, 0), this.inpIdSel(27, 0), this.inpIdSel(29, 0), this.inpIdSel(31, 0)]);
        $(this.inpIdSel(23, 1)).autocalc('sum', [this.inpIdSel(25, 1), this.inpIdSel(27, 1), this.inpIdSel(29, 1), this.inpIdSel(31, 1)]);
        $(this.inpIdSel(23, 2)).autocalc('sum', [this.inpIdSel(25, 2), this.inpIdSel(27, 2), this.inpIdSel(29, 2), this.inpIdSel(31, 2)]);
        $(this.inpIdSel(23, 3)).autocalc('sum', [this.inpIdSel(25, 3), this.inpIdSel(27, 3), this.inpIdSel(29, 3), this.inpIdSel(31, 3)]);
        $(this.inpIdSel(23, 4)).autocalc('sum', [this.inpIdSel(25, 4), this.inpIdSel(27, 4), this.inpIdSel(29, 4), this.inpIdSel(31, 4)]);
    };


    var InspectionIntake5View = new InspectionIntake5ViewType();


</script>

<script type="text/javascript">
    $(document).ready(function () {
        InspectionIntake5View.onLoad();
    });


    $(window).unload(function () {
        InspectionIntake5View.onUnload();
    });   

</script>

@using (Html.BeginForm("Intake5Years", "Inspection", FormMethod.Post, new { id = "formIntake" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@String.Format(Navitas.Resources.Strings.InspectionConsumption5YearsFieldset, Model.BaseYear - 4, Model.BaseYear)</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "intake5years-validation" })
    @Html.HiddenFor(m => m.BaseYear)

        <table id="inspection-intake5years-container" class="singlerows">
            <thead>
                <tr>
                    <th rowspan="2">@Navitas.Resources.Strings.OrderNumber</th>
                    <th rowspan="2">@Navitas.Resources.Strings.EnergyResource</th>
                    <th rowspan="2">@Navitas.Resources.Strings.MeasureUnit</th>
                    <th colspan="5">@Navitas.Resources.Strings.EnergyConsumptionYear</th>
                </tr>
                <tr>
                    <th>@Html.Encode((Model.BaseYear - 4).ToString())</th>
                    <th>@Html.Encode((Model.BaseYear - 3).ToString())</th>
                    <th>@Html.Encode((Model.BaseYear - 2).ToString())</th>
                    <th>@Html.Encode((Model.BaseYear - 1).ToString())</th>
                    <th>@Html.Encode(Model.BaseYear.ToString())</th>                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="2" class="body-ordernumber">1</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.ElectricPower</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionW</td>
                    @Html.EditorFor(model => model.Units[0], "_ProductionFloatRow", new { Prefix = "Units[0]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRublesNds</td>
                    @Html.EditorFor(model => model.Units[1], "_ProductionFloatRow", new { Prefix = "Units[1]" })
                </tr>

                <tr>
                    <td rowspan="8" class="body-ordernumber">2</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.ThermalEnergy</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionCal</td>
                    @Html.EditorFor(model => model.Units[2], "_ProductionFloatRow", new { Prefix = "Units[2]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[3], "_ProductionFloatRow", new { Prefix = "Units[3]" })
                </tr>

                <tr>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.Heating</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionCal</td>
                    @Html.EditorFor(model => model.Units[4], "_ProductionFloatRow", new { Prefix = "Units[4]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[5], "_ProductionFloatRow", new { Prefix = "Units[5]" })
                </tr>

                <tr>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.DHW</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionCal</td>
                    @Html.EditorFor(model => model.Units[6], "_ProductionFloatRow", new { Prefix = "Units[6]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[7], "_ProductionFloatRow", new { Prefix = "Units[7]" })
                </tr>

                <tr>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.VentilationInlet</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionCal</td>
                    @Html.EditorFor(model => model.Units[8], "_ProductionFloatRow", new { Prefix = "Units[8]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[9], "_ProductionFloatRow", new { Prefix = "Units[9]" })
                </tr>

                <tr>
                    <td rowspan="2" class="body-ordernumber">3</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.HotWater</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionV</td>
                    @Html.EditorFor(model => model.Units[10], "_ProductionFloatRow", new { Prefix = "Units[10]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[11], "_ProductionFloatRow", new { Prefix = "Units[11]" })
                </tr>

                <tr>
                    <td rowspan="2" class="body-ordernumber">4</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.ColdWater</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionV</td>
                    @Html.EditorFor(model => model.Units[12], "_ProductionFloatRow", new { Prefix = "Units[12]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[13], "_ProductionFloatRow", new { Prefix = "Units[13]" })
                </tr>

                <tr>
                    <td rowspan="2" class="body-ordernumber">5</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.WastewaterGeneral</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionV</td>
                    @Html.EditorFor(model => model.Units[14], "_ProductionFloatRow", new { Prefix = "Units[14]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[15], "_ProductionFloatRow", new { Prefix = "Units[15]" })
                </tr>

                <tr>
                    <td rowspan="2" class="body-ordernumber">6</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.Wood</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionV</td>
                    @Html.EditorFor(model => model.Units[16], "_ProductionFloatRow", new { Prefix = "Units[16]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[17], "_ProductionFloatRow", new { Prefix = "Units[17]" })
                </tr>

                <tr>
                    <td rowspan="2" class="body-ordernumber">7</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.Coal</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionV</td>
                    @Html.EditorFor(model => model.Units[18], "_ProductionFloatRow", new { Prefix = "Units[18]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[19], "_ProductionFloatRow", new { Prefix = "Units[19]" })
                </tr>

                <tr>
                    <td rowspan="2" class="body-ordernumber">8</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.NaturalGasExceptMotorFuel</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionV</td>
                    @Html.EditorFor(model => model.Units[20], "_ProductionFloatRow", new { Prefix = "Units[20]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[21], "_ProductionFloatRow", new { Prefix = "Units[21]" })
                </tr>

                <tr>
                    <td rowspan="10" class="body-ordernumber">9</td>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.MotorFuel</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionL</td>
                    @Html.EditorFor(model => model.Units[22], "_ProductionFloatRow", new { Prefix = "Units[22]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[23], "_ProductionFloatRow", new { Prefix = "Units[23]" })
                </tr>

                <tr>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.Gasoline</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionL</td>
                    @Html.EditorFor(model => model.Units[24], "_ProductionFloatRow", new { Prefix = "Units[24]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[25], "_ProductionFloatRow", new { Prefix = "Units[25]" })
                </tr>

                <tr>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.Kerosene</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionL</td>
                    @Html.EditorFor(model => model.Units[26], "_ProductionFloatRow", new { Prefix = "Units[26]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[27], "_ProductionFloatRow", new { Prefix = "Units[27]" })
                </tr>

                <tr>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.DieselFuel</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionL</td>
                    @Html.EditorFor(model => model.Units[28], "_ProductionFloatRow", new { Prefix = "Units[28]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[29], "_ProductionFloatRow", new { Prefix = "Units[29]" })
                </tr>

                <tr>
                    <td rowspan="2" class="editor-label">@Navitas.Resources.Strings.Gas</td>
                    <td class="editor-label">@Navitas.Resources.Strings.ConsumptionV</td>
                    @Html.EditorFor(model => model.Units[30], "_ProductionFloatRow", new { Prefix = "Units[30]" })
                </tr>
                <tr>
                    <td class="editor-label">@Navitas.Resources.Strings.InputsRubles</td>
                    @Html.EditorFor(model => model.Units[31], "_ProductionFloatRow", new { Prefix = "Units[31]" })
                </tr>


            </tbody>
        </table>
            
    <p></p>
    
    <p>
        @Html.Encode(Navitas.Resources.Strings.InspectionConsumption_Ref1)
    </p>
    <p>
        @Html.Encode(Navitas.Resources.Strings.InspectionConsumption_Ref2)
    </p>
       
    <label>@Html.Raw(Navitas.Resources.Strings.Import_NoFirstColumn):</label>
    <textarea class="import" name="import"></textarea>
            
    <p></p>
    

    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>
}