﻿@model Navitas.ViewModels.Intake.TwelveMonthIntakeEditModel

@{
    Layout = "~/Views/Inspection/_Layout.cshtml";
    ViewBag.Title = Navitas.Resources.Strings.InspectionConsumptionLastYearsTitle;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Потребления
    function InspectionIntakeMonthsViewType() {

        var self = this; // Для обработчиков событий
        this.formId = "formIntake";

        this.monthNames = [ "January", "February", "March", "April", "May", "June", 
                            "July", "August", "September", "October", "November", "December", "Total" ];

        this.valuesIdSel = function (unitIndex, itemIndex) {
            return "#Values_" + unitIndex.toString() + "__" + this.monthNames[itemIndex];
        };

        this.valuesRurIdSel = function (unitIndex, itemIndex) {
            return "#ValuesRUR_" + unitIndex.toString() + "__" + this.monthNames[itemIndex];
        };

        this.tariffIdSel = function (unitIndex, itemIndex) {
            return "#Tariffs_" + unitIndex.toString() + "__" + this.monthNames[itemIndex];
        };
    }

    // Унаследоваться от базового представления
    extend(InspectionIntakeMonthsViewType, Navitas.ViewBase);

    // Переопределить функции

    InspectionIntakeMonthsViewType.prototype.base_onLoad = Navitas.ViewBase.prototype.onLoad;
    InspectionIntakeMonthsViewType.prototype.onLoad = function () {
        this.base_onLoad();
        this.initControls();
    };

    InspectionIntakeMonthsViewType.prototype.base_onUnload = Navitas.ViewBase.prototype.onUnload;
    InspectionIntakeMonthsViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionIntakeMonthsViewType.prototype.base_initControls = Navitas.ViewBase.prototype.initControls;
    InspectionIntakeMonthsViewType.prototype.initControls = function (container) {
        this.base_initControls(container);

        for (var i = 0; i < 16; i++) {

            var arrValues = new Array(12); // Для каждого вызова autocalc должен создаваться свой массив, т.к. сохраняется внутри.
            var arrValuesRur = new Array(12);
            for (var month = 0; month < 12; month++) {
                arrValues[month] = this.valuesIdSel(i, month);
                arrValuesRur[month] = this.valuesRurIdSel(i, month);
            }
            // Горизонтальное суммирование объемов потребления
            $(this.valuesIdSel(i, 12)).autocalc('sum', arrValues);

            // Горизонтальное суммирование затрат
            $(this.valuesRurIdSel(i, 12)).autocalc('sum', arrValuesRur);

            // Вычисление тарифов
            for (month = 0; month < 12; month++) {
                $(this.tariffIdSel(i, month)).autocalc('div', this.valuesRurIdSel(i, month), this.valuesIdSel(i, month));
            }
        }

        // Вертикальное суммирование "Тепловой энергии" 
        for (i = 0; i < 12; i++) {
            // По объемам
            $(this.valuesIdSel(1, i)).autocalc('sum', [this.valuesIdSel(2, i), this.valuesIdSel(3, i), this.valuesIdSel(4, i)]);
            // По затратам
            $(this.valuesRurIdSel(1, i)).autocalc('sum', [this.valuesRurIdSel(2, i), this.valuesRurIdSel(3, i), this.valuesRurIdSel(4, i)]);
        }

        // Вертикальное суммирование "Моторного топлива" 
        for (i = 0; i < 12; i++) {
            // По объемам
            $(this.valuesIdSel(11, i)).autocalc('sum', [this.valuesIdSel(12, i), this.valuesIdSel(13, i), this.valuesIdSel(14, i), this.valuesIdSel(15, i)]);
            // По затратам
            $(this.valuesRurIdSel(11, i)).autocalc('sum', [this.valuesRurIdSel(12, i), this.valuesRurIdSel(13, i), this.valuesRurIdSel(14, i), this.valuesRurIdSel(15, i)]);
        }
    };

    var InspectionIntakeMonthsView = new InspectionIntakeMonthsViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        InspectionIntakeMonthsView.onLoad();
    });


    $(window).unload(function () {
        InspectionIntakeMonthsView.onUnload();
    });   

</script>

@using (Html.BeginForm("IntakeLastYear", "Inspection", FormMethod.Post, new { id = "formIntake" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@String.Format(Navitas.Resources.Strings.InspectionConsumptionLastYearsFieldset, Model.BaseYear)</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "intakelastyear-validation" })
    
    @Html.Partial("IntakeTwelveMonths", Model)

    <p></p>        
    <p>
        @Html.Encode(Navitas.Resources.Strings.InspectionConsumption_Ref1)
    </p>
    <p>
        @Html.Encode(Navitas.Resources.Strings.InspectionConsumption_Ref2)
    </p>    

    <label>@Html.Raw(Navitas.Resources.Strings.Import):</label>
    <textarea class="import" name="import"></textarea>
        
    <p></p>        
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>
}