﻿@model Navitas.ViewModels.Staff.StaffEditModel

@{
    Layout = "~/Views/Inspection/_Layout.cshtml";
    ViewBag.Title = Navitas.Resources.Strings.InspectionStaffTitle;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы
    function InspectionStaffViewType() {

        var self = this; // Для обработчиков событий

        this.containerId = 'staff-container';
        this.formId = "formStaff";
        this.rowSelector = ".staffRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Inspection/GetNewStaffUnit";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(InspectionStaffViewType, Navitas.DynamicListView);

    // Переопределить функции

    InspectionStaffViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    InspectionStaffViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    InspectionStaffViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    InspectionStaffViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionStaffViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    InspectionStaffViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    InspectionStaffViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    InspectionStaffViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    InspectionStaffViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    InspectionStaffViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var InspectionStaffView = new InspectionStaffViewType();
</script>

<script type="text/javascript">
    $(document).ready(function () {
        InspectionStaffView.onLoad();
    });


    $(window).unload(function () {
        InspectionStaffView.onUnload();
    });   

</script>

@using (Html.BeginForm("Staff", "Inspection", FormMethod.Post, new { id = "formStaff" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.InspectionStaffFieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "staff-validation" })

        <div id="staff-container">
            <table class="contains-headerlines">
                <tr>
                    <td class="orderNumber header-ordernumber"><div>@Navitas.Resources.Strings.OrderNumber</div></td>
                    <td class="header-data">
                        <table class="headerline1">
                            <tr>
                            <td class="fio">@Navitas.Resources.Names.Staff_FIO</td>
                            <td class="position">@Navitas.Resources.Names.Staff_Position</td>
                            <td class="edorgname">@Navitas.Resources.Names.Staff_EducationalOrganizationName</td>
                            <td class="edorgaddress">@Navitas.Resources.Names.Staff_EducationalOrganizationAddress</td>
                            <td class="edorglicense">@Navitas.Resources.Names.Staff_EducationalOrganizationLicense</td>
                            </tr>
                        </table>
                        <table class="headerline2">
                            <tr>
                            <td class="coursetitle">@Navitas.Resources.Names.Staff_CourseTitle</td>
                            <td class="coursetype">@Navitas.Resources.Names.Staff_CourseType</td>
                            <td class="startdate">@Navitas.Resources.Names.Staff_StartDate</td>
                            <td class="enddate">@Navitas.Resources.Names.Staff_ExpirationDate</td>
                            <td class="diploma">@Navitas.Resources.Names.Staff_EducationalDiplom</td>
                            <td class="qualif">@Navitas.Resources.Names.Staff_Qualification</td>
                            </tr>
                        </table>
                    </td>
                    <td class="controls"><div></div></td>
                </tr>
            </table>


            @for (int i = 0; i < Model.Units.Count; i++)
            {
                @Html.EditorFor(model => model.Units[i], "_StaffUnit", new { index = i })
            }

        </div>

    <p></p>
    
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>    
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Next); }
    </p>
}