﻿@model Navitas.ViewModels.Vehicle.VehicleListEditModel

@{
    Layout = "~/Views/Inspection/_Layout.cshtml";
    ViewBag.Title = @Navitas.Resources.Strings.InspectionVehiclesTitle;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Транспорта
    function InspectionVehiclesViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "vehicle-container";
        this.formId = "formVehicles";
        this.rowSelector = ".vehicleRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Inspection/GetNewVehicleUnit";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(InspectionVehiclesViewType, Navitas.DynamicListView);

    // Переопределить функции

    InspectionVehiclesViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    InspectionVehiclesViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    InspectionVehiclesViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    InspectionVehiclesViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionVehiclesViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    InspectionVehiclesViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    InspectionVehiclesViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    InspectionVehiclesViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    InspectionVehiclesViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    InspectionVehiclesViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var InspectionVehiclesView = new InspectionVehiclesViewType();


</script>

<script type="text/javascript">
    $(document).ready(function () {
        InspectionVehiclesView.onLoad();
    });


    $(window).unload(function () {
        InspectionVehiclesView.onUnload();
    });   

</script>

@using (Html.BeginForm("Vehicles", "Inspection", FormMethod.Post, new { id = "formVehicles" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.InspectionVehiclesFieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "vehicles-validation" })

        <div id="vehicle-container">
            <table class="contains-headerlines">
                <tr>
                    <td class="orderNumber header-ordernumber"><div>@Navitas.Resources.Strings.OrderNumber</div></td>
                    <td class="header-data">
                        <table class="headerline1">
                            <tr>
                            <td class="brand">@Navitas.Resources.Names.Vehicle_Brand</td>
                            <td class="model">@Navitas.Resources.Names.Vehicle_Model</td>
                            <td class="year">@Navitas.Resources.Names.Vehicle_Year</td>
                            <td class="count">@Html.Encode(Navitas.Resources.Names.Vehicle_Count + ", " + Navitas.Resources.Strings.Vehicle_Count_Unit)</td>
                            <td class="capacity">@Html.Encode(Navitas.Resources.Names.Vehicle_Capacity + ", " + Navitas.Resources.Strings.Vehicle_Capacity_Unit)</td>
                            <td class="fueltype">@Navitas.Resources.Names.Vehicle_TypeOfFuel </td>
                            <td class="fuelconsumption">@Html.Encode(Navitas.Resources.Names.Vehicle_FuelConsumption + ", " + Navitas.Resources.Strings.Vehicle_FuelConsumption_Unit)</td>
                            </tr>
                        </table>
                        <table class="headerline2">
                            <tr>
                            <td class="mileagelastyear">@Html.Encode(Navitas.Resources.Names.Vehicle_MileageLastYear + ", " + Navitas.Resources.Strings.Vehicle_MileageLastYear_Unit)</td>
                            <td class="optimelastyear">@Html.Encode(Navitas.Resources.Names.Vehicle_OperatingTimeLastYear + ", " + Navitas.Resources.Strings.Vehicle_OperatingTimeLastYear_Unit)</td>
                            <td class="cargovolume">@Html.Encode(Navitas.Resources.Names.Vehicle_VolumeOfCargo + ", " + Navitas.Resources.Strings.Vehicle_VolumeOfCargo_Unit)</td>
                            <td class="passtrafvolume">@Html.Encode(Navitas.Resources.Names.Vehicle_VolumeOfPassengerTraffic + ", " + Navitas.Resources.Strings.Vehicle_VolumeOfPassengerTraffic_Unit)</td>
                            <td class="odometertype">@Navitas.Resources.Names.Vehicle_TypeOfOdometer</td>
                            <td class="odometerisok">@Navitas.Resources.Names.Vehicle_OdometerIsOK</td>
                            <td class="odometersealed">@Navitas.Resources.Names.Vehicle_OdometerSealed</td>
                            </tr>
                        </table>
                    </td>
                    <td class="controls"><div></div></td>
                </tr>
            </table>

            @for (int i = 0; i < Model.Vehicles.Count; i++)
            {
                @Html.EditorFor(model => model.Vehicles[i], "_VehicleUnit", new { index = i, FuelTypeList = Model.FuelTypeList, OdometerTypeList = Model.OdometerTypeList })
            }
           
        </div>

    <p></p>
    
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>

    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Next); }
    </p>    
}

