#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #EFEFEF; /*#DDF0FF;*/
	padding: 2px 5px;
	opacity: 0.85;
}
#tooltip h3
{
    margin: 0;
    padding: 0;
    color: Black;
    font-size: 80%;    
    font-weight: normal;   
}
#tooltip div { margin: 0; }
