﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html, body, form {
  margin: 0;
  padding: 0;
  height: 100%;
  /* needed for container min-height */
}

body,
p,
span,
a {
  color: #000000;
  font-family: Tahoma, arial, Helvetica, sans-serif;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
table td, table th {
  border-collapse: collapse;
  padding: 0;
}
input {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid Black;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0px;
  padding: 0;
  border-width: 0px;
}

body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: black;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul, ol {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
    color: #6B6B6B;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 100%;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/
/*
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}
*/
/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors,
.validation-summary-errors span {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 0 0 0 0;
}

.display-field, 
.editor-field,
.editor-field-long {
    margin: 0 0 0 0;
}

.editor-field-long input[type="text"]
{
    width: 100%;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

input.readonly 
{
    background-color: Gray;
}

input.hyphen-number
{
    text-align: center;
}

div#product-validation  ul,
div#staff-validation  ul,
div#intake5years-validation  ul,
div#vehicles-validation  ul,
div#buildings-validation  ul,
div#electroload-validation  ul,
div#ventin-validation  ul,
div#ventout-validation  ul,
div#radiator-validation  ul,
div#intakelastyear-validation ul,
div#buildingaddinfo-validation ul,
div#technical-validation ul,
div#waterpoints-validation ul,
div#envqty-validation ul,
div#simplepowerqty-validation ul,
div#masterlist-validation ul,
div#itpequipment-validation ul,
div#calculationcoeffs-validation ul
{
    display: none;
}

/* NAVIGATION   
----------------------------------------------------------*/

input.navbutton { 
    background: none no-repeat top left; 
    border: none; 
    cursor: pointer; 
    /*display: block; */
    height: 25px; 
    overflow: hidden; 
    padding: 0; 
    margin: 0 2px 0 0; 
    /*text-indent: -9999px; */
    text-decoration: underline;
    width: auto; 
}

input.selected
{
    font-weight: bold;
}

/* Список обследований
-------------------------------------------------------------*/
div.inspection-list
{
}

.webgrid
{
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}
 
.webgrid a
{
    color: #000;
}
 
.webgrid-header
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-bottom: 1px solid #BBBFC1;
    height: 40px;
 
    border-top: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-footer
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-top: 1px solid #BBBFC1;
    height: 30px;
 
    border-bottom: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-alternating-row
{
    height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #BBBFC1;
 
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-row-style
{
    height: 30px;
    border-bottom: 1px solid #BBBFC1;
 
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-selected-row
{
    font-weight: bold;
}

.webgrid-cell
{
    padding: 3px;
}

/*
ОБЩЕЕ
--------------------------------------------------------------*/

td.contains-number
{
    width: 75px;
    /*white-space: pre-line;*/
    word-wrap: break-word; /* CSS3, не проходит валидацию. Можно заменить на &shy; 
                              Ширина должна быть в px. */
}
/*
td.contains-text
{
    text-align: left;
}*/

table input[type="text"]
{
    width: 90%;
    /*margin: 2px*/
}

table .validationmessage
{
    display: none;
}

/* Для последовательного расположения элементов */
table.consecutive td
{
    padding: 5px 5px;
}

table.consecutive .editor-label
{
}

table.consecutive .editor-field, table.consecutive .editor-field-long
{
    margin-bottom: 0.5em;
}

/* Для однострочных таблиц */
table.singlerows
{
    border-collapse: collapse;
    width: 100%;
}

table.singlerows th.header-ordernumber
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border: 1px solid #BBBFC1;
}

table.singlerows td.body-ordernumber
{
    padding: 5px;
    text-align: center;
    border: 1px solid #BBBFC1;
}

table.singlerows th
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border: 1px solid #BBBFC1;
}

table.singlerows td
{
    padding: 5px;
    border: 1px solid #BBBFC1;
    text-align: center;
}

table.singlerows th.controls
{
    border: 0;
    background-color: transparent;
}

table.singlerows td.controls
{
    border: 0;
    width: 110px;
}

table.singlerows td.editor-label
{
    text-align: left;
}


/* Для двустрочных таблиц */
table.contains-headerlines
{
    width: 100%;
    border-width: 0px;
    border-collapse: collapse;    
}

td.header-ordernumber
{
    padding: 6px 5px;
    border-top: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-bottom: 1px solid #BBBFC1;
    width: 22px;
    background-color: #e8eef4;
    text-align: center;
}

td.header-data
{
    border-width: 0px;
    border-collapse: collapse;
    border-bottom: 1px solid #BBBFC1;    
    border-top: 1px solid #BBBFC1;
}

table.contains-headerlines td.controls
{
    padding: 6px 5px;
    width: 100px;
    border-left: 1px solid #BBBFC1;
}

td.body-ordernumber
{
    text-align: center;
    padding: 5px;
    border-left: 1px solid #BBBFC1;
    border-bottom: 1px solid #BBBFC1;
    width: 22px;
}

td.body-data
{
    border-width: 0px;
    border-collapse: collapse;
    border-bottom: 1px solid #BBBFC1;
}

table.headerline1
{
    width: 100%;
    background-color: #e8eef4;
}

table.headerline2
{
    width: 100%;
    background-color: #e8eef4;
}

table.headerline1 td
{
    border-left: 1px solid #BBBFC1;
    text-align: center;
    vertical-align: middle;
    
    padding: 6px 5px;
    font-weight: bold;
    /*word-wrap: break-word;*/
}

table.headerline2 td
{
    border-left: 1px solid #BBBFC1;
    border-top: 1px solid #BBBFC1;
    text-align: center;
    vertical-align: middle;
    
    padding: 6px 5px;
    font-weight: bold;
    /*word-wrap: break-word;*/
}

table.contains-bodylines
{
    width: 100%;
}

table.bodyline1
{
    width: 100%;
    border-bottom: 1px solid #BBBFC1;
}

table.bodyline2
{
    width: 100%;
}

table.bodyline1 td
{
    padding: 5px;
    border-left: 1px solid #BBBFC1;
    /*border-bottom: 1px solid red;*/
    text-align: center;
    vertical-align: middle;
}

table.bodyline2 td
{
    padding: 5px;
    border-left: 1px solid #BBBFC1;
    /*border-bottom: 1px solid red;*/
    /*border-right: 1px solid red;*/
    text-align: center;
    vertical-align: middle;
}

table.contains-bodylines td.controls
{
    padding: 5px;
    width: 100px;
    border-left: 1px solid #BBBFC1;
}

/* Закладка продукции
----------------------------------------------------------*/
table#inspection-production-container
{

}

/*
table#inspection-production-container input[type="text"]
{
    width: 100px;
}

table#inspection-production-container .validationmessage
{
    display: none;
}
*/

/* Закладка персонала (Staff)
----------------------------------------------------------*/

#staff-container
{
}
/*
#staff-container td
{
    border-width: 0px;
}

#staff-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#staff-container .header
{
    width: 100%;
}


#staff-container .staffRow
{
}

#staff-container .validationmessage
{
    display: none;
}

#staff-container .orderNumber
{
    float:left;
    width: 20px;
}

#staff-container .controls
{
    width: 110px;
}
*/

#staff-container .fio
{
    width: 20%;
}
#staff-container .position
{
    width: 20%;    
}
#staff-container .edorgname
{
    width: 20%;    
}
#staff-container .edorgaddress
{
    width: 20%;    
}
#staff-container .edorglicense
{
    width: 20%;
}
#staff-container .coursetitle
{
    width: 20%;
}
#staff-container .coursetype
{
    width: 20%;
}
#staff-container .startdate
{
    width: 10%;
}
#staff-container .enddate
{
    width: 10%;
}
#staff-container .diploma
{
    width: 20%;
}
#staff-container .qualif
{
    width: 20%;
}


/* Закладка "Потребление за 5лет" (Intake5Years)
-----------------------------------------------*/
#inspection-intake5years-container
{

}

/*
#inspection-intake5years-container input[type="text"]
{
    width: 95%;
}

table#inspection-intake5years-container .validationmessage
{
    display: none;
}

*/
/* Закладка "Потребление за последний год" (IntakeLastYear)
-----------------------------------------------*/
table#intakelastyear-container
{

}

/*
table#intakelastyear-container input[type="text"]
{
    width: 90%;
}

#intakelastyear-container .validationmessage
{
    display: none;
}
*/
/* Закладка "Транспорт" (Vehicle)
-----------------------------------------------*/

#vehicle-container
{
}

/*
#vehicle-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#vehicle-container td
{
    border-width: 0px;
}

#vehicle-container .header
{
    width: 100%;
}
*/
/*
#vehicle-container .theader
{
    border-right: 1px solid black;
    border-top: 1px solid black;
}
*/
#vehicle-container .vehicleRow
{
}

#vehicle-container .brand
{
    width: 14%;
}
#vehicle-container .model
{
    width: 14%;
}
#vehicle-container .year
{
    width: 14%;
}
#vehicle-container .count
{
    width: 14%;
}
#vehicle-container .capacity
{
    width: 14%;
}
#vehicle-container .fueltype
{
    width: 14%;
}
#vehicle-container .fuelconsumption
{
    width: 14%;
}


#vehicle-container .mileagelastyear
{
    width: 14%;
}
#vehicle-container .optimelastyear
{
    width: 14%;
}
#vehicle-container .cargovolume
{
    width: 14%;
}
#vehicle-container .passtrafvolume
{
    width: 14%;
}
#vehicle-container .odometertype
{
    width: 14%;
}
#vehicle-container .odometerisok
{
    width: 14%;
}
#vehicle-container .odometersealed
{
    width: 14%;
}

/* Закладка "Здания" (Buildings)
-----------------------------------------------*/

#building-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#building-container .validationmessage
{
    display: none;
}

/* Закладка "Перечень электрооборудования" (Buildings/Electroload)
-----------------------------------------------*/

/*
#electroload-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#electroload-container .validationmessage
{
    display: none;
}
*/
#electroload-container .name
{
}

#electroload-container .count
{
    width: 100px;
}

#electroload-container .power
{
    width: 100px;    
}

#electroload-container .hours
{
    width: 100px;    
}

/* Закладка "Приточная вентиляция" (Building/VentIn)
-----------------------------------------------*/

#ventin-container
{
}
/*
#ventin-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#ventin-container td
{
    border-width: 0px;
}

#ventin-container .header
{
    width: 100%;
}

#ventin-container .ventinRow
{
}

#ventin-container .validationmessage
{
    display: none;
}

#ventin-container .orderNumber
{
    float:left;
    width: 20px;
}

#ventin-container .controls
{
    width: 110px;
}
*/


#ventin-container .name,
#ventin-container .servedpremises,
#ventin-container .systembrand,
#ventin-container .airflow,
#ventin-container .powerheating,
#ventin-container .powercooling
{
    width: 16%;
}

#ventin-container .hoursmonth,
#ventin-container .hoursyear,
#ventin-container .hourscoldperiod,
#ventin-container .hourswarmperiod,
#ventin-container .pumpbrand,
#ventin-container .pumppower,
#ventin-container .recycle
{
    width: 14%;    
}


/* Закладка "Вытяжного электрооборудования" (Buildings/VentOut)
-----------------------------------------------*/
/*
#ventout-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#ventout-container .validationmessage
{
    display: none;
}
*/

#ventout-container .name
{
}

#ventout-container .servedpremises
{
}

#ventout-container .airflow
{
    width: 100px;
}

#ventout-container .systembrand
{
}

#ventout-container .power
{
    width: 100px;
}

#ventout-container .hoursmonth
{
    width: 100px;
}

#ventout-container .hoursyear
{
    width: 100px;
}

/* Закладка "Отопительных приборов" (Buildings/Radiators)
-----------------------------------------------*/

/*
#radiator-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#radiator-container .validationmessage
{
    display: none;
}
*/

#radiator-container .location
{
}

#radiator-container .name
{
}

#radiator-container .count
{
}

#radiator-container .countthermo
{
}

/* Закладка "Технические характеристики здания" (Buildings/Technical)
-----------------------------------------------*/

#technical-container
{
}

#technical-container .validationmessage
{
    display: none;
}

#techopenings-container
{
}

#techopenings-container .validationmessage
{
    display: none;
}

/* Закладка "Замеры качества электроэнергии" (Buildings/PowerQty)
-----------------------------------------------*/

#simplepowerqty-container
{
}

#simplepowerqty-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#simplepowerqty-container .validationmessage
{
    display: none;
}

/* Закладка "Замеры эксплуатационной среды здания" (Buildings/EnvQty)
-----------------------------------------------*/

#envqty-container
{
}

/*
#envqty-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#envqty-container .validationmessage
{
    display: none;
}
*/

#envqty-container .roomtype
{
}

#envqty-container .temperature
{
    width: 150px;
}

#envqty-container .humidity
{
    width: 150px;
}

#envqty-container .illumination
{
    width: 150px;
}

#envqty-container .windspeed
{
    width: 150px;
}


/* Закладка "Сведения о точках водоразбора" (Buildings/WaterPoints)
-----------------------------------------------*/

#waterpoints-container
{
}

#waterpoints-container .waterpointuid
{
    width: 220px;
}

#waterpoints-container .waterpointdeviceuid
{
    width: 220px;
}

#waterpoints-container .number
{
    width: 100px;
}

#waterpoints-container .description
{
}



/* Для общего списка
-----------------------------------------------*/

#masterlist-container
{
}

/*
#masterlist-container .validationmessage
{
    display: none;
}
*/

/* Закладка "Приборы учета электроэнергии" (Buildings/Meters)
-----------------------------------------------*/

/*
#masterlist-container-ele input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-ele .validationmessage
{
    display: none;
}
*/

#masterlist-container-ele .installside,
#masterlist-container-ele .caption,
#masterlist-container-ele .acclass,
#masterlist-container-ele .sealing
{
    width: 14%;
}

#masterlist-container-ele .year,
#masterlist-container-ele .verifyday,
#masterlist-container-ele .sn,
#masterlist-container-ele .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета холодной воды" (Buildings/Meters)
-----------------------------------------------*/

/*
#masterlist-container-clw input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-clw .validationmessage
{
    display: none;
}
*/

#masterlist-container-clw .installside,
#masterlist-container-clw .caption,
#masterlist-container-clw .acclass,
#masterlist-container-clw .sealing,
#masterlist-container-clw .range
{
    width: 14%;
}

#masterlist-container-clw .year,
#masterlist-container-clw .verifyday,
#masterlist-container-clw .sn,
#masterlist-container-clw .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета горячей воды" (Buildings/Meters)
-----------------------------------------------*/

/*
#masterlist-container-htw input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-htw .validationmessage
{
    display: none;
}
*/

#masterlist-container-htw .installside,
#masterlist-container-htw .caption,
#masterlist-container-htw .acclass,
#masterlist-container-htw .sealing,
#masterlist-container-htw .range
{
    width: 14%;
}

#masterlist-container-htw .year,
#masterlist-container-htw .verifyday,
#masterlist-container-htw .sn,
#masterlist-container-htw .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета тепла" (Buildings/Meters)
-----------------------------------------------*/
/*
#masterlist-container-htn input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-htn .validationmessage
{
    display: none;
}
*/

#masterlist-container-htn .installside,
#masterlist-container-htn .caption,
#masterlist-container-htn .acclass,
#masterlist-container-htn .sealing
{
    width: 14%;
}

#masterlist-container-htn .year,
#masterlist-container-htn .verifyday,
#masterlist-container-htn .sn,
#masterlist-container-htn .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета газа" (Buildings/Meters)
-----------------------------------------------*/
/*
#masterlist-container-gas input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-gas .validationmessage
{
    display: none;
}
*/

#masterlist-container-gas .installside,
#masterlist-container-gas .caption,
#masterlist-container-gas .acclass,
#masterlist-container-gas .sealing
{
    width: 14%;
}

#masterlist-container-gas .year,
#masterlist-container-gas .verifyday,
#masterlist-container-gas .sn,
#masterlist-container-gas .comment
{
    width: 20%;       
}

/* Иллюстрации для здания
-------------------------------------------------------------*/
#buildingillustration-container
{
}
/*
.preview .previewDelete {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
*/

div.photoItem 
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.photoItem .preview 
{
    position: relative;
}

.photoItem .name 
{
    padding-left: 10px;
    vertical-align: middle;
    font-weight: bold;
}

.preview .previewDelete {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 10;
}
.preview .previewlink {
    border: 0;
}
.preview .previewimage {
    border: 0;
}


/* Отчет по обследованию
-------------------------------------------------------------*/

div.hovered-element
{
    color: red;
    
    /*background-color: #DFFFD1;*/
    /*border: 1px dotted #FF2D65;*/
}

div.hovered-element span
{
    color: red;
}

div.hovered-element p
{
    color: red;
}

div.hovered-element img
{
    opacity: 0.75;
}


/*div.editabletext:first-letter
{
    margin-left: 20px;
}

div.editabletext-hover:first-letter
{
    margin-left: 20px;
}
*/
#inspectionReportContainer
{
    font-family: Times New Roman;
    text-align: justify;
    
}

/* Заголовки */

#inspectionReportContainer h1,
#inspectionReportContainer h2,
#inspectionReportContainer h3
{
	text-align: center;
	color: black;	
	font-size: 16px;
    font-family: Times New Roman;
	margin-bottom: 18px;
	margin-top: 18px;
	font-weight: bold;
	line-height: 1.5;
}

#inspectionReportContainer h1
{
    page-break-before: always;
}


/* Редактируемый текст */

#inspectionReportContainer div.editabletext
{
    font-size: 16px;
    font-family: Times New Roman;
    width: 100%;
    position: relative;
    margin: 0px;
}

/*
div.editabletext-hover
{
     color: #FF6F56;
}

div.editabletext-hover span
{
     color: #FF6F56;
}
*/

div.editabletext,
div.readonlytext,
div.readonlytext p,
div.editabletext p,
div.editabletext p span
{
    text-indent: 47px; 
    font-family: Times New Roman !important;
    font-size: 16px !important;
    margin: 0px/* !important*/;
    /*margin-bottom: 4px !important;
	margin-top: 4px !important;*/
    line-height: 1em;
    letter-spacing: 0 !important;
}


#inspectionReportContainer ul, #inspectionReportContainer ol, #inspectionReportContainer li
{
    list-style-position:inside;
    text-indent: 47px !important;
    margin-left: 0px !important;
    font-family: Times New Roman !important;
    font-size: 16px !important;
    margin-bottom: 0px;
    line-height: 1em;
    padding-left: 0px !important;
    letter-spacing: 0 !important;
}

/* Missing illustration */

#inspectionReportContainer div.missing-illustration
{
    position: relative;
    
    width: 400px;
    height: 60px;
     
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    
    border: 1px solid red;
    
    text-align: center;
    vertical-align: middle;
}

#inspectionReportContainer div.missing-illustration span
{
    font-family: Times New Roman;
    font-size: 16px;

}

/*
#inspectionReportContainer div.missing-illustration-hover
{
    color: #FF6F56;
}
*/

#inspectionReportContainer div.imageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    font-size: 16px;    
    font-weight: bold;
    text-align: center;
}

/*
#inspectionReportContainer div.imageelement-hover
{
     opacity: 0.8;
}
*/

#inspectionReportContainer div.staticimageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

#inspectionReportContainer div.required-illustration
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    text-align: center;
    font-size: 16px;   
    font-weight: bold; 
}

/*
#inspectionReportContainer div.required-illustration-hover
{
    opacity: 0.8;
}
*/
/*
#inspectionReportContainer div.required-illustration span
{
    display: block;
}
*/
/* Формула */

#inspectionReportContainer div.formulaimageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    
    text-align: center;
}
/*
#inspectionReportContainer div.formulaimageelement-caption
{
    text-align: center;
    float: right;
}

#inspectionReportContainer div.formulacontainer
{
    float: left;
}
*/

/* 2 */

/*
#inspectionReportContainer div.formulaimageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    
    text-align: center;
}

#inspectionReportContainer div.formulaimageelement-caption
{
    position: fixed;
    right: 0;
    text-align: center;
}
*/

#inspectionReportContainer div.formulaimageelement table,
#inspectionReportContainer div.formulaimageelement tr
{
    width: 75%;
    border-width: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#inspectionReportContainer div.formulaimageelement td.formula
{
    border-width: 0px;
    text-align: center;
}

#inspectionReportContainer div.formulaimageelement td.caption
{
    border-width: 0px;
    text-align: center;
}

/* Обычная таблица */

#inspectionReportContainer table.simple
{
    border: 1px solid Black;
}

#inspectionReportContainer table.simple td
{
    border: 1px solid Black;
    padding: 3px;
    font-family: Times New Roman;
    font-size: 16px;
}

/* Таблица в отчете */
#inspectionReportContainer .tableelement
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 14px;
    
}

#inspectionReportContainer .tableelement > table
{
    margin-left: auto;
    margin-right: auto;
}

#inspectionReportContainer .tableelement > table td
{
    padding: 2px 5px;
    text-align: left;
    border: 1px solid black;
    font-family: Times New Roman;
    font-size: 14px;    
}

/* Заголовок для таблицы */
#inspectionReportContainer tr.rowtype-header td
{
    background-color: #BBBFC1;
    color: black;
    font-family: Times New Roman;
    font-size: 14px;
}

#inspectionReportContainer tr.bold
{
    font-weight: bold;
}


/* Подпись к таблице */
#inspectionReportContainer .tableelement > div.tableelement-caption
{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
}


/* График в отчете */
#inspectionReportContainer .chartelement
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#inspectionReportContainer .chartelement > img
{
    
}

#inspectionReportContainer .chartelement > div
{
    text-align: center;
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
}

/* Совмещенные графики в отчете */
#inspectionReportContainer .chartstackelement
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 16px;
}

#inspectionReportContainer .chartstackelement > img
{
    
}

#inspectionReportContainer .chartstackelement > div
{
    text-align: center;
}

/* Разное */
.hidden
{
    display: none;
}

.clear
{
    clear: both;
}

.ui-dialog .ui-dialog-content
{
    overflow: hidden;
}


/* Popup menu для редактируемого текста
---------------------------------------------------*/

div.editabletext .menucontaner
{
    text-indent: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

#inspectionReportContainer .toolbar
{
    /* Подправить, чтобы сдвиг текста не касался появляющегося тулбара */
    /*text-indent: 0px;*/
    display: inline-block;
}

#inspectionReportContainer .insertmenu
{
    text-align: center;
    /*text-indent: 0;*/
}

#inspectionReportContainer .simple-toolbar
{
    /* Подправить, чтобы сдвиг текста не касался появляющегося тулбара */
    text-indent: 0px;
    position: absolute;
    right: 0;
    top: 0;    
}

.import {
    width: 100%;
}