/*! jQuery UI - v1.8.24 - 2012-09-28
* https://github.com/jquery/jquery-ui
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.tabs.css, jquery.ui.theme.css
* Copyright (c) 2012 AUTHORS.txt; Licensed MIT */

/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:before, .ui-helper-clearfix:after { content: ""; display: table; }
.ui-helper-clearfix:after { clear: both; }
.ui-helper-clearfix { zoom: 1; }
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/* IE/Win - Fix animation bug - #4615 */
.ui-accordion { width: 100%; }
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em .7em; }
.ui-accordion-icons .ui-accordion-header a { padding-left: 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1em 2.2em; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; zoom: 1; }
.ui-accordion .ui-accordion-content-active { display: block; }

.ui-autocomplete { position: absolute; cursor: default; }	

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/*
 * jQuery UI Menu 1.8.24
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Licensed under the MIT license.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}

.ui-button { display: inline-block; position: relative; padding: 0; margin-right: .1em; text-decoration: none !important; cursor: pointer; text-align: center; zoom: 1; overflow: visible; } /* the overflow property removes extra width in IE */
.ui-button-icon-only { width: 2.2em; } /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only { width: 2.4em; } /* button elements seem to need a little more width */
.ui-button-icons-only { width: 3.4em; } 
button.ui-button-icons-only { width: 3.7em; } 

/*button text element */
.ui-button .ui-button-text { display: block; line-height: 1.4;  }
.ui-button-text-only .ui-button-text { padding: .4em 1em; }
.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text { padding: .4em; text-indent: -9999999px; }
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 1em .4em 2.1em; }
.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text { padding: .4em 2.1em .4em 1em; }
.ui-button-text-icons .ui-button-text { padding-left: 2.1em; padding-right: 2.1em; }
/* no icon support for input elements, provide padding by default */
input.ui-button { padding: .4em 1em; }

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon { position: absolute; top: 50%; margin-top: -8px; }
.ui-button-icon-only .ui-icon { left: 50%; margin-left: -8px; }
.ui-button-text-icon-primary .ui-button-icon-primary, .ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary { left: .5em; }
.ui-button-text-icon-secondary .ui-button-icon-secondary, .ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }
.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary { right: .5em; }

/*button sets*/
.ui-buttonset { margin-right: 7px; }
.ui-buttonset .ui-button { margin-left: 0; margin-right: -.3em; }

/* workarounds */
button.ui-button::-moz-focus-inner { border: 0; padding: 0; } /* reset extra padding in Firefox */

.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
.ui-dialog { position: absolute; padding: .2em; width: 300px; overflow: hidden; }
.ui-dialog .ui-dialog-titlebar { padding: .4em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 16px .1em 0; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button { margin: .5em .4em .5em 0; cursor: pointer; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px; display: block; }
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display: none; }
.ui-resizable-n { cursor: n-resize; height: 7px; width: 100%; top: -5px; left: 0; }
.ui-resizable-s { cursor: s-resize; height: 7px; width: 100%; bottom: -5px; left: 0; }
.ui-resizable-e { cursor: e-resize; width: 7px; right: -5px; top: 0; height: 100%; }
.ui-resizable-w { cursor: w-resize; width: 7px; left: -5px; top: 0; height: 100%; }
.ui-resizable-se { cursor: se-resize; width: 12px; height: 12px; right: 1px; bottom: 1px; }
.ui-resizable-sw { cursor: sw-resize; width: 9px; height: 9px; left: -5px; bottom: -5px; }
.ui-resizable-nw { cursor: nw-resize; width: 9px; height: 9px; left: -5px; top: -5px; }
.ui-resizable-ne { cursor: ne-resize; width: 9px; height: 9px; right: -5px; top: -5px;}
.ui-selectable-helper { position: absolute; z-index: 100; border:1px dotted black; }

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; }
.ui-tabs { position: relative; padding: .2em; zoom: 1; } /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { margin: 0; padding: .2em .2em 0; }
.ui-tabs .ui-tabs-nav li { list-style: none; float: left; position: relative; top: 1px; margin: 0 .2em 1px 0; border-bottom: 0 !important; padding: 0; white-space: nowrap; }
.ui-tabs .ui-tabs-nav li a { float: left; padding: .5em 1em; text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { margin-bottom: 0; padding-bottom: 1px; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { display: block; border-width: 0; padding: 1em 1.4em; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

/* Component containers
----------------------------------*/
.ui-widget { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1.1em/*{fsDefault}*/; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Verdana,Arial,sans-serif/*{ffDefault}*/; font-size: 1em; }
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff/*{bgColorContent}*/ url(images/ui-bg_flat_75_ffffff_40x100.png)/*{bgImgUrlContent}*/ 50%/*{bgContentXPos}*/ 50%/*{bgContentYPos}*/ repeat-x/*{bgContentRepeat}*/; color: #222222/*{fcContent}*/; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-widget-header { border: 1px solid #aaaaaa/*{borderColorHeader}*/; background: #cccccc/*{bgColorHeader}*/ url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)/*{bgImgUrlHeader}*/ 50%/*{bgHeaderXPos}*/ 50%/*{bgHeaderYPos}*/ repeat-x/*{bgHeaderRepeat}*/; color: #222222/*{fcHeader}*/; font-weight: bold; }
.ui-widget-header a { color: #222222/*{fcHeader}*/; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #d3d3d3/*{borderColorDefault}*/; background: #e6e6e6/*{bgColorDefault}*/ url(images/ui-bg_glass_75_e6e6e6_1x400.png)/*{bgImgUrlDefault}*/ 50%/*{bgDefaultXPos}*/ 50%/*{bgDefaultYPos}*/ repeat-x/*{bgDefaultRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #555555/*{fcDefault}*/; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #555555/*{fcDefault}*/; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #999999/*{borderColorHover}*/; background: #dadada/*{bgColorHover}*/ url(images/ui-bg_glass_75_dadada_1x400.png)/*{bgImgUrlHover}*/ 50%/*{bgHoverXPos}*/ 50%/*{bgHoverYPos}*/ repeat-x/*{bgHoverRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcHover}*/; }
.ui-state-hover a, .ui-state-hover a:hover { color: #212121/*{fcHover}*/; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #aaaaaa/*{borderColorActive}*/; background: #ffffff/*{bgColorActive}*/ url(images/ui-bg_glass_65_ffffff_1x400.png)/*{bgImgUrlActive}*/ 50%/*{bgActiveXPos}*/ 50%/*{bgActiveYPos}*/ repeat-x/*{bgActiveRepeat}*/; font-weight: normal/*{fwDefault}*/; color: #212121/*{fcActive}*/; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #212121/*{fcActive}*/; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fcefa1/*{borderColorHighlight}*/; background: #fbf9ee/*{bgColorHighlight}*/ url(images/ui-bg_glass_55_fbf9ee_1x400.png)/*{bgImgUrlHighlight}*/ 50%/*{bgHighlightXPos}*/ 50%/*{bgHighlightYPos}*/ repeat-x/*{bgHighlightRepeat}*/; color: #363636/*{fcHighlight}*/; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636/*{fcHighlight}*/; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a/*{borderColorError}*/; background: #fef1ec/*{bgColorError}*/ url(images/ui-bg_glass_95_fef1ec_1x400.png)/*{bgImgUrlError}*/ 50%/*{bgErrorXPos}*/ 50%/*{bgErrorYPos}*/ repeat-x/*{bgErrorRepeat}*/; color: #cd0a0a/*{fcError}*/; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a/*{fcError}*/; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a/*{fcError}*/; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-content .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsContent}*/; }
.ui-widget-header .ui-icon {background-image: url(images/ui-icons_222222_256x240.png)/*{iconsHeader}*/; }
.ui-state-default .ui-icon { background-image: url(images/ui-icons_888888_256x240.png)/*{iconsDefault}*/; }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsHover}*/; }
.ui-state-active .ui-icon {background-image: url(images/ui-icons_454545_256x240.png)/*{iconsActive}*/; }
.ui-state-highlight .ui-icon {background-image: url(images/ui-icons_2e83ff_256x240.png)/*{iconsHighlight}*/; }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(images/ui-icons_cd0a0a_256x240.png)/*{iconsError}*/; }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px/*{cornerRadius}*/; -webkit-border-top-left-radius: 4px/*{cornerRadius}*/; -khtml-border-top-left-radius: 4px/*{cornerRadius}*/; border-top-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px/*{cornerRadius}*/; -webkit-border-top-right-radius: 4px/*{cornerRadius}*/; -khtml-border-top-right-radius: 4px/*{cornerRadius}*/; border-top-right-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px/*{cornerRadius}*/; -webkit-border-bottom-left-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-left-radius: 4px/*{cornerRadius}*/; border-bottom-left-radius: 4px/*{cornerRadius}*/; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px/*{cornerRadius}*/; -webkit-border-bottom-right-radius: 4px/*{cornerRadius}*/; -khtml-border-bottom-right-radius: 4px/*{cornerRadius}*/; border-bottom-right-radius: 4px/*{cornerRadius}*/; }

/* Overlays */
.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -khtml-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; border-radius: 8px/*{cornerRadiusShadow}*/; }#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #EFEFEF; /*#DDF0FF;*/
	padding: 2px 5px;
	opacity: 0.85;
}
#tooltip h3
{
    margin: 0;
    padding: 0;
    color: Black;
    font-size: 80%;    
    font-weight: normal;   
}
#tooltip div { margin: 0; }
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; }
.ui-timepicker-div dl dd { margin: -25px 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
﻿div.jHtmlArea { display: inline block; }
div.jHtmlArea div { padding: 0px; margin: 0px; }
div.jHtmlArea .ToolBar { }
div.jHtmlArea .ToolBar ul { border: solid 1px #ccc; margin: 1px; padding: 1px; float: left; background: #fff url(jHtmlArea_Toolbar_Group_BG.png) repeat-x;}
div.jHtmlArea .ToolBar ul li { list-style-type: none; float: left; border: none; padding: 1px; margin: 1px; }
div.jHtmlArea .ToolBar ul li:hover { border: solid 1px #ccc; background: #ddd url(jHtmlArea_Toolbar_Group__Btn_Select_BG.png); padding: 0; }
div.jHtmlArea .ToolBar ul li a { display: block; width: 16px; height: 16px; background: url(jHtmlArea.png) no-repeat -16px -500px; border: none; cursor: pointer; padding: 0px; }
div.jHtmlArea .ToolBar ul li a.highlighted { border: solid 1px #aaa; background-color: #bbb; padding: 0; }
div.jHtmlArea .ToolBar ul li.separator {height: 16px; margin: 0 2px 0 3px; border-left: 1px solid #ccc;}
div.jHtmlArea .ToolBar ul li.separator:hover { padding: 1px; background-color: #fff; border-top:none; border-bottom:none; border-right:none;}

div.jHtmlArea .ToolBar ul li a:hover { }
div.jHtmlArea .ToolBar ul li a.bold { background-position: 0 0; }
div.jHtmlArea .ToolBar ul li a.italic { background-position: -16px 0; }
div.jHtmlArea .ToolBar ul li a.underline { background-position: -32px 0; }
div.jHtmlArea .ToolBar ul li a.strikethrough { background-position: -48px 0; }
div.jHtmlArea .ToolBar ul li a.link { background-position: -64px 0; }
div.jHtmlArea .ToolBar ul li a.unlink { background-position: -80px 0; }
div.jHtmlArea .ToolBar ul li a.orderedlist { background-position: -96px 0; }
div.jHtmlArea .ToolBar ul li a.unorderedlist { background-position: -112px 0; }
div.jHtmlArea .ToolBar ul li a.image { background-position: -128px 0; }
div.jHtmlArea .ToolBar ul li a.cut { background-position: -144px 0; }
div.jHtmlArea .ToolBar ul li a.copy { background-position: -160px 0; }
div.jHtmlArea .ToolBar ul li a.paste { background-position: -176px 0; }

div.jHtmlArea .ToolBar ul li a.html { background-position: -192px 0; opacity:0.6; filter:alpha(opacity=60);}
div.jHtmlArea .ToolBar ul li a.html.highlighted { opacity:1.0; filter:alpha(opacity=100);}

div.jHtmlArea .ToolBar ul li a.h1 { background-position: 0 -16px;}
div.jHtmlArea .ToolBar ul li a.h2 { background-position: -16px -16px;}
div.jHtmlArea .ToolBar ul li a.h3 { background-position: -32px -16px;}
div.jHtmlArea .ToolBar ul li a.h4 { background-position: -48px -16px;}
div.jHtmlArea .ToolBar ul li a.h5 { background-position: -64px -16px;}
div.jHtmlArea .ToolBar ul li a.h6 { background-position: -80px -16px;}
div.jHtmlArea .ToolBar ul li a.subscript   { background-position: -96px -16px;}
div.jHtmlArea .ToolBar ul li a.superscript { background-position: -112px -16px;}
div.jHtmlArea .ToolBar ul li a.indent { background-position: -128px -16px;}
div.jHtmlArea .ToolBar ul li a.outdent { background-position: -144px -16px;}
div.jHtmlArea .ToolBar ul li a.horizontalrule { background-position: -160px -16px;}
div.jHtmlArea .ToolBar ul li a.p { background-position: -176px -16px;}


div.jHtmlArea .ToolBar ul li a.justifyleft { background-position: 0 -32px;}
div.jHtmlArea .ToolBar ul li a.justifycenter { background-position: -16px -32px;}
div.jHtmlArea .ToolBar ul li a.justifyright { background-position: -32px -32px;}
div.jHtmlArea .ToolBar ul li a.increasefontsize { background-position: -48px -32px;}
div.jHtmlArea .ToolBar ul li a.decreasefontsize { background-position: -64px -32px;}
div.jHtmlArea .ToolBar ul li a.forecolor { background-position: -80px -32px;}﻿div.jHtmlAreaColorPickerMenu {border: solid 1px #bbb; background-color: #ddd; width: 112px;}
div.jHtmlAreaColorPickerMenu div {float: left; margin: 2px; width: 12px; height: 14px;}
div.jHtmlAreaColorPickerMenu div:hover {margin: 0px; border: dotted 2px black;}

div.jHtmlAreaColorPickerMenu div.automatic { width: 104px; height: auto; padding: 2px;}
div.jHtmlAreaColorPickerMenu div.automatic div { margin: 2px; width: 12px; height: 14px;  border: solid 1px black;}
﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
html, body, form {
  margin: 0;
  padding: 0;
  height: 100%;
  /* needed for container min-height */
}

body,
p,
span,
a {
  color: #000000;
  font-family: Tahoma, arial, Helvetica, sans-serif;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}
table td, table th {
  border-collapse: collapse;
  padding: 0;
}
input {
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 1px solid Black;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0px;
  padding: 0;
  border-width: 0px;
}

body {
    background-color: #5c87b2;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: black;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul, ol {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
    color: #6B6B6B;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

header h1, #header h1 {
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    background-color: #fff;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}


/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 100%;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/
/*
table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}
*/
/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 40px;
}

div#title {
    display: block;
    float: left;
    text-align: left;
}

#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors,
.validation-summary-errors span {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 0 0 0 0;
}

.display-field, 
.editor-field,
.editor-field-long {
    margin: 0 0 0 0;
}

.editor-field-long input[type="text"]
{
    width: 100%;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

input.readonly 
{
    background-color: Gray;
}

input.hyphen-number
{
    text-align: center;
}

div#product-validation  ul,
div#staff-validation  ul,
div#intake5years-validation  ul,
div#vehicles-validation  ul,
div#buildings-validation  ul,
div#electroload-validation  ul,
div#ventin-validation  ul,
div#ventout-validation  ul,
div#radiator-validation  ul,
div#intakelastyear-validation ul,
div#buildingaddinfo-validation ul,
div#technical-validation ul,
div#waterpoints-validation ul,
div#envqty-validation ul,
div#simplepowerqty-validation ul,
div#masterlist-validation ul,
div#itpequipment-validation ul,
div#calculationcoeffs-validation ul
{
    display: none;
}

/* NAVIGATION   
----------------------------------------------------------*/

input.navbutton { 
    background: none no-repeat top left; 
    border: none; 
    cursor: pointer; 
    /*display: block; */
    height: 25px; 
    overflow: hidden; 
    padding: 0; 
    margin: 0 2px 0 0; 
    /*text-indent: -9999px; */
    text-decoration: underline;
    width: auto; 
}

input.selected
{
    font-weight: bold;
}

/* Список обследований
-------------------------------------------------------------*/
div.inspection-list
{
}

.webgrid
{
    width: 100%;
    border: 0px;
    border-collapse: collapse;
}
 
.webgrid a
{
    color: #000;
}
 
.webgrid-header
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-bottom: 1px solid #BBBFC1;
    height: 40px;
 
    border-top: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-footer
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border-top: 1px solid #BBBFC1;
    height: 30px;
 
    border-bottom: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-alternating-row
{
    height: 30px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #BBBFC1;
 
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-row-style
{
    height: 30px;
    border-bottom: 1px solid #BBBFC1;
 
    border-left: 1px solid #BBBFC1;
    border-right: 1px solid #BBBFC1;
}
 
.webgrid-selected-row
{
    font-weight: bold;
}

.webgrid-cell
{
    padding: 3px;
}

/*
ОБЩЕЕ
--------------------------------------------------------------*/

td.contains-number
{
    width: 75px;
    /*white-space: pre-line;*/
    word-wrap: break-word; /* CSS3, не проходит валидацию. Можно заменить на &shy; 
                              Ширина должна быть в px. */
}
/*
td.contains-text
{
    text-align: left;
}*/

table input[type="text"]
{
    width: 90%;
    /*margin: 2px*/
}

table .validationmessage
{
    display: none;
}

/* Для последовательного расположения элементов */
table.consecutive td
{
    padding: 5px 5px;
}

table.consecutive .editor-label
{
}

table.consecutive .editor-field, table.consecutive .editor-field-long
{
    margin-bottom: 0.5em;
}

/* Для однострочных таблиц */
table.singlerows
{
    border-collapse: collapse;
    width: 100%;
}

table.singlerows th.header-ordernumber
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border: 1px solid #BBBFC1;
}

table.singlerows td.body-ordernumber
{
    padding: 5px;
    text-align: center;
    border: 1px solid #BBBFC1;
}

table.singlerows th
{
    padding: 6px 5px;
    text-align: center;
    background-color: #e8eef4;
    border: 1px solid #BBBFC1;
}

table.singlerows td
{
    padding: 5px;
    border: 1px solid #BBBFC1;
    text-align: center;
}

table.singlerows th.controls
{
    border: 0;
    background-color: transparent;
}

table.singlerows td.controls
{
    border: 0;
    width: 110px;
}

table.singlerows td.editor-label
{
    text-align: left;
}


/* Для двустрочных таблиц */
table.contains-headerlines
{
    width: 100%;
    border-width: 0px;
    border-collapse: collapse;    
}

td.header-ordernumber
{
    padding: 6px 5px;
    border-top: 1px solid #BBBFC1;
    border-left: 1px solid #BBBFC1;
    border-bottom: 1px solid #BBBFC1;
    width: 22px;
    background-color: #e8eef4;
    text-align: center;
}

td.header-data
{
    border-width: 0px;
    border-collapse: collapse;
    border-bottom: 1px solid #BBBFC1;    
    border-top: 1px solid #BBBFC1;
}

table.contains-headerlines td.controls
{
    padding: 6px 5px;
    width: 100px;
    border-left: 1px solid #BBBFC1;
}

td.body-ordernumber
{
    text-align: center;
    padding: 5px;
    border-left: 1px solid #BBBFC1;
    border-bottom: 1px solid #BBBFC1;
    width: 22px;
}

td.body-data
{
    border-width: 0px;
    border-collapse: collapse;
    border-bottom: 1px solid #BBBFC1;
}

table.headerline1
{
    width: 100%;
    background-color: #e8eef4;
}

table.headerline2
{
    width: 100%;
    background-color: #e8eef4;
}

table.headerline1 td
{
    border-left: 1px solid #BBBFC1;
    text-align: center;
    vertical-align: middle;
    
    padding: 6px 5px;
    font-weight: bold;
    /*word-wrap: break-word;*/
}

table.headerline2 td
{
    border-left: 1px solid #BBBFC1;
    border-top: 1px solid #BBBFC1;
    text-align: center;
    vertical-align: middle;
    
    padding: 6px 5px;
    font-weight: bold;
    /*word-wrap: break-word;*/
}

table.contains-bodylines
{
    width: 100%;
}

table.bodyline1
{
    width: 100%;
    border-bottom: 1px solid #BBBFC1;
}

table.bodyline2
{
    width: 100%;
}

table.bodyline1 td
{
    padding: 5px;
    border-left: 1px solid #BBBFC1;
    /*border-bottom: 1px solid red;*/
    text-align: center;
    vertical-align: middle;
}

table.bodyline2 td
{
    padding: 5px;
    border-left: 1px solid #BBBFC1;
    /*border-bottom: 1px solid red;*/
    /*border-right: 1px solid red;*/
    text-align: center;
    vertical-align: middle;
}

table.contains-bodylines td.controls
{
    padding: 5px;
    width: 100px;
    border-left: 1px solid #BBBFC1;
}

/* Закладка продукции
----------------------------------------------------------*/
table#inspection-production-container
{

}

/*
table#inspection-production-container input[type="text"]
{
    width: 100px;
}

table#inspection-production-container .validationmessage
{
    display: none;
}
*/

/* Закладка персонала (Staff)
----------------------------------------------------------*/

#staff-container
{
}
/*
#staff-container td
{
    border-width: 0px;
}

#staff-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#staff-container .header
{
    width: 100%;
}


#staff-container .staffRow
{
}

#staff-container .validationmessage
{
    display: none;
}

#staff-container .orderNumber
{
    float:left;
    width: 20px;
}

#staff-container .controls
{
    width: 110px;
}
*/

#staff-container .fio
{
    width: 20%;
}
#staff-container .position
{
    width: 20%;    
}
#staff-container .edorgname
{
    width: 20%;    
}
#staff-container .edorgaddress
{
    width: 20%;    
}
#staff-container .edorglicense
{
    width: 20%;
}
#staff-container .coursetitle
{
    width: 20%;
}
#staff-container .coursetype
{
    width: 20%;
}
#staff-container .startdate
{
    width: 10%;
}
#staff-container .enddate
{
    width: 10%;
}
#staff-container .diploma
{
    width: 20%;
}
#staff-container .qualif
{
    width: 20%;
}


/* Закладка "Потребление за 5лет" (Intake5Years)
-----------------------------------------------*/
#inspection-intake5years-container
{

}

/*
#inspection-intake5years-container input[type="text"]
{
    width: 95%;
}

table#inspection-intake5years-container .validationmessage
{
    display: none;
}

*/
/* Закладка "Потребление за последний год" (IntakeLastYear)
-----------------------------------------------*/
table#intakelastyear-container
{

}

/*
table#intakelastyear-container input[type="text"]
{
    width: 90%;
}

#intakelastyear-container .validationmessage
{
    display: none;
}
*/
/* Закладка "Транспорт" (Vehicle)
-----------------------------------------------*/

#vehicle-container
{
}

/*
#vehicle-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#vehicle-container td
{
    border-width: 0px;
}

#vehicle-container .header
{
    width: 100%;
}
*/
/*
#vehicle-container .theader
{
    border-right: 1px solid black;
    border-top: 1px solid black;
}
*/
#vehicle-container .vehicleRow
{
}

#vehicle-container .brand
{
    width: 14%;
}
#vehicle-container .model
{
    width: 14%;
}
#vehicle-container .year
{
    width: 14%;
}
#vehicle-container .count
{
    width: 14%;
}
#vehicle-container .capacity
{
    width: 14%;
}
#vehicle-container .fueltype
{
    width: 14%;
}
#vehicle-container .fuelconsumption
{
    width: 14%;
}


#vehicle-container .mileagelastyear
{
    width: 14%;
}
#vehicle-container .optimelastyear
{
    width: 14%;
}
#vehicle-container .cargovolume
{
    width: 14%;
}
#vehicle-container .passtrafvolume
{
    width: 14%;
}
#vehicle-container .odometertype
{
    width: 14%;
}
#vehicle-container .odometerisok
{
    width: 14%;
}
#vehicle-container .odometersealed
{
    width: 14%;
}

/* Закладка "Здания" (Buildings)
-----------------------------------------------*/

#building-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#building-container .validationmessage
{
    display: none;
}

/* Закладка "Перечень электрооборудования" (Buildings/Electroload)
-----------------------------------------------*/

/*
#electroload-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#electroload-container .validationmessage
{
    display: none;
}
*/
#electroload-container .name
{
}

#electroload-container .count
{
    width: 100px;
}

#electroload-container .power
{
    width: 100px;    
}

#electroload-container .hours
{
    width: 100px;    
}

/* Закладка "Приточная вентиляция" (Building/VentIn)
-----------------------------------------------*/

#ventin-container
{
}
/*
#ventin-container input[type="text"]
{
    width: 90%;
    margin: 2px
}

#ventin-container td
{
    border-width: 0px;
}

#ventin-container .header
{
    width: 100%;
}

#ventin-container .ventinRow
{
}

#ventin-container .validationmessage
{
    display: none;
}

#ventin-container .orderNumber
{
    float:left;
    width: 20px;
}

#ventin-container .controls
{
    width: 110px;
}
*/


#ventin-container .name,
#ventin-container .servedpremises,
#ventin-container .systembrand,
#ventin-container .airflow,
#ventin-container .powerheating,
#ventin-container .powercooling
{
    width: 16%;
}

#ventin-container .hoursmonth,
#ventin-container .hoursyear,
#ventin-container .hourscoldperiod,
#ventin-container .hourswarmperiod,
#ventin-container .pumpbrand,
#ventin-container .pumppower,
#ventin-container .recycle
{
    width: 14%;    
}


/* Закладка "Вытяжного электрооборудования" (Buildings/VentOut)
-----------------------------------------------*/
/*
#ventout-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#ventout-container .validationmessage
{
    display: none;
}
*/

#ventout-container .name
{
}

#ventout-container .servedpremises
{
}

#ventout-container .airflow
{
    width: 100px;
}

#ventout-container .systembrand
{
}

#ventout-container .power
{
    width: 100px;
}

#ventout-container .hoursmonth
{
    width: 100px;
}

#ventout-container .hoursyear
{
    width: 100px;
}

/* Закладка "Отопительных приборов" (Buildings/Radiators)
-----------------------------------------------*/

/*
#radiator-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#radiator-container .validationmessage
{
    display: none;
}
*/

#radiator-container .location
{
}

#radiator-container .name
{
}

#radiator-container .count
{
}

#radiator-container .countthermo
{
}

/* Закладка "Технические характеристики здания" (Buildings/Technical)
-----------------------------------------------*/

#technical-container
{
}

#technical-container .validationmessage
{
    display: none;
}

#techopenings-container
{
}

#techopenings-container .validationmessage
{
    display: none;
}

/* Закладка "Замеры качества электроэнергии" (Buildings/PowerQty)
-----------------------------------------------*/

#simplepowerqty-container
{
}

#simplepowerqty-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#simplepowerqty-container .validationmessage
{
    display: none;
}

/* Закладка "Замеры эксплуатационной среды здания" (Buildings/EnvQty)
-----------------------------------------------*/

#envqty-container
{
}

/*
#envqty-container input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#envqty-container .validationmessage
{
    display: none;
}
*/

#envqty-container .roomtype
{
}

#envqty-container .temperature
{
    width: 150px;
}

#envqty-container .humidity
{
    width: 150px;
}

#envqty-container .illumination
{
    width: 150px;
}

#envqty-container .windspeed
{
    width: 150px;
}


/* Закладка "Сведения о точках водоразбора" (Buildings/WaterPoints)
-----------------------------------------------*/

#waterpoints-container
{
}

#waterpoints-container .waterpointuid
{
    width: 220px;
}

#waterpoints-container .waterpointdeviceuid
{
    width: 220px;
}

#waterpoints-container .number
{
    width: 100px;
}

#waterpoints-container .description
{
}



/* Для общего списка
-----------------------------------------------*/

#masterlist-container
{
}

/*
#masterlist-container .validationmessage
{
    display: none;
}
*/

/* Закладка "Приборы учета электроэнергии" (Buildings/Meters)
-----------------------------------------------*/

/*
#masterlist-container-ele input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-ele .validationmessage
{
    display: none;
}
*/

#masterlist-container-ele .installside,
#masterlist-container-ele .caption,
#masterlist-container-ele .acclass,
#masterlist-container-ele .sealing
{
    width: 14%;
}

#masterlist-container-ele .year,
#masterlist-container-ele .verifyday,
#masterlist-container-ele .sn,
#masterlist-container-ele .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета холодной воды" (Buildings/Meters)
-----------------------------------------------*/

/*
#masterlist-container-clw input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-clw .validationmessage
{
    display: none;
}
*/

#masterlist-container-clw .installside,
#masterlist-container-clw .caption,
#masterlist-container-clw .acclass,
#masterlist-container-clw .sealing,
#masterlist-container-clw .range
{
    width: 14%;
}

#masterlist-container-clw .year,
#masterlist-container-clw .verifyday,
#masterlist-container-clw .sn,
#masterlist-container-clw .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета горячей воды" (Buildings/Meters)
-----------------------------------------------*/

/*
#masterlist-container-htw input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-htw .validationmessage
{
    display: none;
}
*/

#masterlist-container-htw .installside,
#masterlist-container-htw .caption,
#masterlist-container-htw .acclass,
#masterlist-container-htw .sealing,
#masterlist-container-htw .range
{
    width: 14%;
}

#masterlist-container-htw .year,
#masterlist-container-htw .verifyday,
#masterlist-container-htw .sn,
#masterlist-container-htw .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета тепла" (Buildings/Meters)
-----------------------------------------------*/
/*
#masterlist-container-htn input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-htn .validationmessage
{
    display: none;
}
*/

#masterlist-container-htn .installside,
#masterlist-container-htn .caption,
#masterlist-container-htn .acclass,
#masterlist-container-htn .sealing
{
    width: 14%;
}

#masterlist-container-htn .year,
#masterlist-container-htn .verifyday,
#masterlist-container-htn .sn,
#masterlist-container-htn .comment
{
    width: 20%;       
}

/* Закладка "Приборы учета газа" (Buildings/Meters)
-----------------------------------------------*/
/*
#masterlist-container-gas input[type="text"]
{
    width: 90%;
    margin: 2px    
}

#masterlist-container-gas .validationmessage
{
    display: none;
}
*/

#masterlist-container-gas .installside,
#masterlist-container-gas .caption,
#masterlist-container-gas .acclass,
#masterlist-container-gas .sealing
{
    width: 14%;
}

#masterlist-container-gas .year,
#masterlist-container-gas .verifyday,
#masterlist-container-gas .sn,
#masterlist-container-gas .comment
{
    width: 20%;       
}

/* Иллюстрации для здания
-------------------------------------------------------------*/
#buildingillustration-container
{
}
/*
.preview .previewDelete {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
*/

div.photoItem 
{
    margin-top: 5px;
    margin-bottom: 5px;
}

.photoItem .preview 
{
    position: relative;
}

.photoItem .name 
{
    padding-left: 10px;
    vertical-align: middle;
    font-weight: bold;
}

.preview .previewDelete {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 10;
}
.preview .previewlink {
    border: 0;
}
.preview .previewimage {
    border: 0;
}


/* Отчет по обследованию
-------------------------------------------------------------*/

div.hovered-element
{
    color: red;
    
    /*background-color: #DFFFD1;*/
    /*border: 1px dotted #FF2D65;*/
}

div.hovered-element span
{
    color: red;
}

div.hovered-element p
{
    color: red;
}

div.hovered-element img
{
    opacity: 0.75;
}


/*div.editabletext:first-letter
{
    margin-left: 20px;
}

div.editabletext-hover:first-letter
{
    margin-left: 20px;
}
*/
#inspectionReportContainer
{
    font-family: Times New Roman;
    text-align: justify;
    
}

/* Заголовки */

#inspectionReportContainer h1,
#inspectionReportContainer h2,
#inspectionReportContainer h3
{
	text-align: center;
	color: black;	
	font-size: 16px;
    font-family: Times New Roman;
	margin-bottom: 18px;
	margin-top: 18px;
	font-weight: bold;
	line-height: 1.5;
}


/* Редактируемый текст */

#inspectionReportContainer div.editabletext
{
    font-size: 16px;
    font-family: Times New Roman;
    width: 100%;
    position: relative;
    margin: 0px;
}

/*
div.editabletext-hover
{
     color: #FF6F56;
}

div.editabletext-hover span
{
     color: #FF6F56;
}
*/

div.editabletext,
div.readonlytext p,
div.editabletext p,
div.editabletext p span
{
    text-indent: 47px !important; 
    font-family: Times New Roman !important;
    font-size: 16px !important;
    margin: 0px/* !important*/;
    /*margin-bottom: 4px !important;
	margin-top: 4px !important;*/
    line-height: 1em;
    letter-spacing: 0 !important;
}


#inspectionReportContainer ul, #inspectionReportContainer ol, #inspectionReportContainer li
{
    list-style-position:inside;
    text-indent: 47px !important;
    margin-left: 0px !important;
    font-family: Times New Roman !important;
    font-size: 16px !important;
    margin-bottom: 0px;
    line-height: 1em;
    padding-left: 0px !important;
    letter-spacing: 0 !important;
}

/* Missing illustration */

#inspectionReportContainer div.missing-illustration
{
    position: relative;
    
    width: 400px;
    height: 60px;
     
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    
    border: 1px solid red;
    
    text-align: center;
    vertical-align: middle;
}

#inspectionReportContainer div.missing-illustration span
{
    font-family: Times New Roman;
    font-size: 16px;

}

/*
#inspectionReportContainer div.missing-illustration-hover
{
    color: #FF6F56;
}
*/

#inspectionReportContainer div.imageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    font-size: 16px;    
    text-align: center;
}

/*
#inspectionReportContainer div.imageelement-hover
{
     opacity: 0.8;
}
*/

#inspectionReportContainer div.staticimageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    font-family: Times New Roman;
    font-size: 16px;
    text-align: center;
}

#inspectionReportContainer div.required-illustration
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    text-align: center;
    font-size: 16px;    
}

/*
#inspectionReportContainer div.required-illustration-hover
{
    opacity: 0.8;
}
*/
/*
#inspectionReportContainer div.required-illustration span
{
    display: block;
}
*/
/* Формула */

#inspectionReportContainer div.formulaimageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    
    text-align: center;
}
/*
#inspectionReportContainer div.formulaimageelement-caption
{
    text-align: center;
    float: right;
}

#inspectionReportContainer div.formulacontainer
{
    float: left;
}
*/

/* 2 */

/*
#inspectionReportContainer div.formulaimageelement
{
    position: relative;
 
    margin-top: 15px;
    margin-bottom: 15px;   
    
    text-align: center;
}

#inspectionReportContainer div.formulaimageelement-caption
{
    position: fixed;
    right: 0;
    text-align: center;
}
*/

#inspectionReportContainer div.formulaimageelement table,
#inspectionReportContainer div.formulaimageelement tr
{
    width: 75%;
    border-width: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

#inspectionReportContainer div.formulaimageelement td.formula
{
    border-width: 0px;
    text-align: center;
}

#inspectionReportContainer div.formulaimageelement td.caption
{
    border-width: 0px;
    text-align: center;
}

/* Обычная таблица */

#inspectionReportContainer table.simple
{
    border: 1px solid Black;
}

#inspectionReportContainer table.simple td
{
    border: 1px solid Black;
    padding: 3px;
    font-family: Times New Roman;
    font-size: 16px;
}

/* Таблица в отчете */
#inspectionReportContainer .tableelement
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 14px;
    
}

#inspectionReportContainer .tableelement > table
{
    margin-left: auto;
    margin-right: auto;
}

#inspectionReportContainer .tableelement > table td
{
    padding: 2px 5px;
    text-align: left;
    border: 1px solid black;
    font-family: Times New Roman;
    font-size: 14px;    
}

/* Заголовок для таблицы */
#inspectionReportContainer tr.rowtype-header td
{
    background-color: #BBBFC1;
    color: black;
    font-family: Times New Roman;
    font-size: 14px;
}

#inspectionReportContainer tr.bold
{
    font-weight: bold;
}


/* Подпись к таблице */
#inspectionReportContainer .tableelement > div.tableelement-caption
{
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    font-family: Times New Roman;
    font-size: 16px;
    font-weight: bold;
}


/* График в отчете */
#inspectionReportContainer .chartelement
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#inspectionReportContainer .chartelement > img
{
    
}

#inspectionReportContainer .chartelement > div
{
    text-align: center;
    font-family: Times New Roman;
    font-size: 16px;
}

/* Совмещенные графики в отчете */
#inspectionReportContainer .chartstackelement
{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: Times New Roman;
    font-size: 16px;
}

#inspectionReportContainer .chartstackelement > img
{
    
}

#inspectionReportContainer .chartstackelement > div
{
    text-align: center;
}

/* Разное */
.hidden
{
    display: none;
}

.clear
{
    clear: both;
}

.ui-dialog .ui-dialog-content
{
    overflow: hidden;
}


/* Popup menu для редактируемого текста
---------------------------------------------------*/

div.editabletext .menucontaner
{
    text-indent: 0;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}

#inspectionReportContainer .toolbar
{
    /* Подправить, чтобы сдвиг текста не касался появляющегося тулбара */
    /*text-indent: 0px;*/
    display: inline-block;
}

#inspectionReportContainer .insertmenu
{
    text-align: center;
    /*text-indent: 0;*/
}

#inspectionReportContainer .simple-toolbar
{
    /* Подправить, чтобы сдвиг текста не касался появляющегося тулбара */
    text-indent: 0px;
    position: absolute;
    right: 0;
    top: 0;    
}

.import {
    width: 100%;
}