﻿@model Navitas.ViewModels.Building.ElectroloadItemEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}

<tr class="electroloadItemRow">
    <td class="orderNumber body-ordernumber">
        <div >
            @Html.Encode((int)ViewData["Index"] + 1)
        </div>    
    </td>
    <td class="name">
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </td>
    <td class="count">
        <div class="editor-field">
            @Html.TextBoxFor(m=> m.Count, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(m => m.Count)
        </div>
    </td>
    <td class="power">
        <div class="editor-field">
            @Html.TextBoxFor(m => m.Power, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(m => m.Power)
        </div>
    </td>
    <td class="hours">
        <div class="editor-field">
            @Html.EditorFor(model => model.TimeHoursPerYear)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.TimeHoursPerYear)
        </div>
    </td>
    <td class="controls">
        <div>
            <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>







