﻿@model Navitas.ViewModels.Building.EnvironmentQualityItemEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<tr class="envqtyRow">

    <td class="orderNumber body-ordernumber">
        @Html.Encode((int)ViewData["Index"] + 1)
    </td>

    <td class="roomtype">
        <div class="editor-field">
            @Html.DropDownList(String.Format("RoomTypeUID", ViewData["Index"]), new SelectList((SelectList)ViewData["RoomTypes"], "Value", "Text", Model.RoomTypeUID))
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.RoomTypeUID)
        </div>
    </td>
    <td class="temperature">
        <div class="editor-field">
            @Html.EditorFor(model => model.Temperature)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Temperature)
        </div>
    </td>    
    <td class="humidity">
        <div class="editor-field">
            @Html.EditorFor(model => model.Humidity)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Humidity)
        </div>
    </td>
    <td class="illumination">
        <div class="editor-field">
            @Html.EditorFor(model => model.Illumination)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Illumination)
        </div>
    </td>
    <td class="windspeed">
        <div class="editor-field">
            @Html.EditorFor(model => model.WindSpeed)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.WindSpeed)
        </div>
    </td>
    <td class="controls">
        <div>
            <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
 </tr>