﻿@model Navitas.ViewModels.Building.HeatExchangerItemEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = (string)ViewData["Prefix"];

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }

    // Строчка для задания конкретных спецификаторов для элементов Html
    // для разных типов отображаемых элементов (Wall, AtticFloor, BasementFloor, ...)
    string typeIdentifier = (string)ViewData["TypeIdentifier"];
}

<tr class="@Html.Encode(typeIdentifier + "Row")">

    <td class="orderNumber body-ordernumber">
        @Html.Encode((int)ViewData["Index"] + 1)
    </td>
    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Purpose)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Purpose)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.SectionsCount)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.SectionsCount)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.HoursPerYear)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.HoursPerYear)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Comment)
        </div>
    </td>

    <td class="controls">
        <div>
            <input class="@Html.Encode("removeItem remove" + typeIdentifier)" type="submit" name="@String.Format("remove" + typeIdentifier + "{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>



