﻿@model Navitas.ViewModels.Building.Meter.MeterHeatingItem
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<div class="masterListRow meter-heating-item">
    <table class="contains-bodylines">
        <tr>
            <td class="orderNumber body-ordernumber">
                <div>
                    @Html.Encode((int)ViewData["Index"] + 1)
                </div>
            </td>
            <td class="body-data">
                <table class="bodyline1">
                    <tr>
                        <td class="installside">
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.InstallationSite)*@
                                @Html.TextBoxFor(model => model.InstallationSite, new { @class = "autocomplete", data_source_url = "/data/MeterPlacesHeating" })
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.InstallationSite)
                            </div>
                        </td>
                        <td class="caption">
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.Caption)*@
                                @Html.TextBoxFor(model => model.Caption, new { @class = "autocomplete", data_source_url = "/data/MeterCaptionsHeating" })
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.Caption)
                            </div>
                        </td>
                        <td class="acclass">
                            <div class="editor-field">
                                @*@Html.EditorFor(model => model.AccuracyClass)*@
                                @Html.TextBoxFor(model => model.AccuracyClass, new { @class = "autocomplete", data_source_url = "/data/MeterClassesHeating" })
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.AccuracyClass)
                            </div>
                        </td>
                        <td class="sealing">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Sealing)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.Sealing)
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="bodyline2">
                    <tr>
                        <td class="year">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Year)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.Year)
                            </div>
                        </td>
                        <td class="verifyday">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.DateOfVerification)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.DateOfVerification)
                            </div>
                        </td>
                        <td class="sn">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.SerialNumber)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.SerialNumber)
                            </div>
                        </td>
                        <td class="comment">
                            <div class="editor-field">
                                @Html.EditorFor(model => model.Comment)
                            </div>
                            <div class="validationmessage">
                                @Html.ValidationMessageFor(model => model.Comment)
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
            <td class="controls">
                <div>
                    <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
                </div>
            </td>
        </tr>
    </table>
</div>
