﻿@model Navitas.ViewModels.Radiator.RadiatorItemEditModel
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<tr class="radiatorRow">

    <td class="orderNumber body-ordernumber">
        @Html.Encode((int)ViewData["Index"] + 1)
    </td>

    <td class="location">
        <div class="editor-field">
            @Html.EditorFor(model => model.Location)
            
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Location)
        </div>
    </td>

    <td class="name">
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </td>

    <td class="count">
        <div class="editor-field">
            @Html.TextBox("Count", Model.Count, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Count)
        </div>
    </td>

    <td class="countthermo">
        <div class="editor-field">
            @Html.TextBox("CountThermostats", Model.CountThermostats, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.CountThermostats)
        </div>
    </td>
    <td class="controls">
        <div>
            <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>
