﻿@model Navitas.ViewModels.Building.SimplePowerQualityItemEditModel
           
@{ 
    int index = (int)ViewData["Index"];
    
    string htmlPrefix = String.Format("Items[{0}]", index);

    ViewData.TemplateInfo.HtmlFieldPrefix = htmlPrefix;

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}

<tr class="simplePowerQtyRow">
    <td>
        <table>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(m => m.PowerInput)
                </td>
                <td colspan="10">
                    <div class="editor-field">
                        @Html.EditorFor(m => m.PowerInput)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(m => m.PowerInput)
                    </div>                    
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Navitas.Resources.Names.SimplePowerQty_Time
                </td>
                @for (int i = 0; i < Model.Measurements.Count; i++)
                {
                    <td colspan="2">
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Measurements[i].Time, new { name = htmlPrefix + String.Format(".Measurements[{0}].Time", i) })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(m => m.Measurements[i].Time)
                        </div>
                    </td>
                }
            </tr>
            <tr>
                <td class="editor-label">@Navitas.Resources.Strings.SimplePowerQuality_Phase
                </td>
                @for (int i = 0; i < Model.Measurements.Count; i++)
                {
                    <td>@Navitas.Resources.Strings.SimplePowerQuality_U
                    </td>
                    <td>@Navitas.Resources.Strings.SimplePowerQuality_I
                    </td>
                }
            </tr>
            @* По фазе А *@
            <tr>
                <td class="editor-label">@Navitas.Resources.Strings.SimplePowerQuality_PhaseA
                </td>
                @for (int i = 0; i < Model.Measurements.Count; i++)
                {
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Measurements[i].UPhaseA)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(m => m.Measurements[i].UPhaseA)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Measurements[i].IPhaseA)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(m => m.Measurements[i].IPhaseA)
                        </div>
                    </td>
                }
            </tr>
            @* По фазе B *@
            <tr>
                <td class="editor-label">@Navitas.Resources.Strings.SimplePowerQuality_PhaseB
                </td>
                @for (int i = 0; i < Model.Measurements.Count; i++)
                {
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Measurements[i].UPhaseB)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(m => m.Measurements[i].UPhaseB)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Measurements[i].IPhaseB)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(m => m.Measurements[i].IPhaseB)
                        </div>
                    </td>
                }
            </tr>
            @* По фазе C *@
            <tr>
                <td class="editor-label">@Navitas.Resources.Strings.SimplePowerQuality_PhaseC
                </td>
                @for (int i = 0; i < Model.Measurements.Count; i++)
                {
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Measurements[i].UPhaseC)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(m => m.Measurements[i].UPhaseC)
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.EditorFor(m => m.Measurements[i].IPhaseC)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(m => m.Measurements[i].IPhaseC)
                        </div>
                    </td>
                }
            </tr>
        </table>
    </td>
    <td class="controls">
        <div>
            <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>
