﻿@model Navitas.ViewModels.Building.TechDoorEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = (string)ViewData["Prefix"];

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }

    // Строчка для задания конкретных спецификаторов для элементов Html
    // для разных типов отображаемых элементов (Wall, AtticFloor, BasementFloor, ...)
    string typeIdentifier = (string)ViewData["TypeIdentifier"];
}

<tr class="@Html.Encode(typeIdentifier + "Row")">

    <td colspan="2" @*class="orderNumber"*@>
        @*@Html.Encode((int)ViewData["Index"] + 1)*@
    </td>
    <td>
        <div class="editor-field">
            @Html.DropDownList(String.Format("MaterialUid", ViewData["Index"]), new SelectList((SelectList)ViewData["SelectionList"], "Value", "Text", Model.MaterialUid))
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.MaterialUid)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfDoors)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.NumberOfDoors)
        </div>
    </td>

    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.AverageYardage)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.AverageYardage)
        </div>
    </td>

    <td class="controls">
        <div>
            <input class="@Html.Encode("removeItem remove" + typeIdentifier)" type="submit" name="@String.Format("remove" + typeIdentifier + "{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>



