﻿@model Navitas.ViewModels.Ventilation.ExtractItemEditModel
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<tr class="ventoutRow">

    <td class="orderNumber body-ordernumber">
        @Html.Encode((int)ViewData["Index"] + 1)
    </td>

    <td class="name">
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Name)
        </div>
    </td>

    <td class="servedpremises">
        <div class="editor-field">
            @Html.EditorFor(model => model.ServedPremises)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.ServedPremises)
        </div>
    </td>

    <td class="airflow">
        <div class="editor-field">
            @Html.TextBox("AirFlow", Model.AirFlow, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.AirFlow)
        </div>
    </td>

    <td class="systembrand">
        <div class="editor-field">
            @Html.TextBox("Brand", Model.Brand, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Brand)
        </div>
    </td>

    <td class="power">
        <div class="editor-field">
            @Html.TextBox("Power", Model.Power, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Power)
        </div>
    </td>

    <td class="hoursmonth">
        <div class="editor-field">
            @Html.TextBox("HoursMonth", Model.HoursMonth, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.HoursMonth)
        </div>
    </td>

    <td class="hoursyear">
        <div class="editor-field">
            @Html.TextBox("HoursYear", Model.HoursYear, new { @class = "hyphen-number" })
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.HoursYear)
        </div>
    </td>
    <td class="controls">
        <div>
            <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>
