﻿@model Navitas.ViewModels.Ventilation.CombinedInputItemEditModel
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<div class="ventinRow">
    <table class="contains-bodylines">
        <tr>
            <td class="orderNumber body-ordernumber">
                <div>
                    @Html.Encode((int)ViewData["Index"] + 1)
                </div>
            </td>
            <td class="body-data">
                <table class="bodyline1">
                    <tr>
                    <td class="name">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Name)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.Name)
                        </div>
                    </td>

                    <td class="servedpremises">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.ServedPremises)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.ServedPremises)
                        </div>
                    </td>

                    <td class="systembrand">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.VentilationSystemBrand)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.VentilationSystemBrand)
                        </div>
                    </td>

                    <td class="airflow">
                        <div class="editor-field">
                            @Html.TextBox("AirFlow", Model.AirFlow, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.AirFlow)
                        </div>
                    </td>

                    <td class="powerheating">
                        <div class="editor-field">
                            @Html.TextBox("PowerInHeating", Model.PowerInHeating, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.PowerInHeating)
                        </div>
                    </td>

                    <td class="powercooling">
                        <div class="editor-field">
                            @Html.TextBox("PowerInCooling", Model.PowerInCooling, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.PowerInCooling)
                        </div>
                    </td>

                    </tr>
                </table>
                <table class="bodyline2">
                    <tr>
                    <td class="hoursmonth">
                        <div class="editor-field">
                            @Html.TextBox("TimeHoursPerMonth", Model.TimeHoursPerMonth, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.TimeHoursPerMonth)
                        </div>
                    </td>

                    <td class="hoursyear">
                        <div class="editor-field">
                            @Html.TextBox("TimeHoursPerYear", Model.TimeHoursPerYear, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.TimeHoursPerYear)
                        </div>
                    </td>

                    <td class="hourscoldperiod">
                        <div class="editor-field">
                            @Html.TextBox("TimeHoursPerYearInColdPeriod", Model.TimeHoursPerYearInColdPeriod, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.TimeHoursPerYearInColdPeriod)
                        </div>
                    </td>

                    <td class="hourswarmperiod">
                        <div class="editor-field">
                            @Html.TextBox("TimeHoursPerYearInWarmPeriod", Model.TimeHoursPerYearInWarmPeriod, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.TimeHoursPerYearInWarmPeriod)
                        </div>
                    </td>

                    <td class="pumpbrand">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.PumpBrand)
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.PumpBrand)
                        </div>
                    </td>

                    <td class="pumppower">
                        <div class="editor-field">
                            @Html.TextBox("PumpPower", Model.PumpPower, new { @class = "hyphen-number" })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.PumpPower)
                        </div>
                    </td>

                    <td class="recycle">
                        <div class="editor-field">
                            @Html.EditorFor(model => model.AvailabilityOfRecycling, "YesNo", new { name = String.Format("Items[{0}].AvailabilityOfRecycling", ViewData["Index"]) })
                        </div>
                        <div class="validationmessage">
                            @Html.ValidationMessageFor(model => model.AvailabilityOfRecycling)
                        </div>
                    </td>
                    </tr>
                </table>
            </td>
            <td class="controls">
                <div>
                    <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
                </div>
            </td>
        </tr>
    </table>
</div>
