﻿@model Navitas.ViewModels.Building.PointOfWaterItemEditModel
@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = String.Format("Items[{0}]", ViewData["Index"]);

    // Чтобы сгенерировались элементы для валидации, необходим контекст формы.
    // Без него они не сгенерируются при асинхронном добавлении частичной формы.
    if (ViewContext.FormContext == null)
    {
        this.ViewContext.FormContext = new FormContext();
    }
}
<tr class="waterPointRow">

    <td class="orderNumber body-ordernumber">
        @Html.Encode((int)ViewData["Index"] + 1)
    </td>

    <td class="waterpointuid">
        <div class="editor-field">
            @Html.DropDownList(String.Format("PointOfWaterUID", ViewData["Index"]), new SelectList((SelectList)ViewData["PointsList"], "Value", "Text", Model.PointOfWaterUID))
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.PointOfWaterUID)
        </div>
    </td>

    <td class="waterpointdeviceuid">
        <div class="editor-field">
            @Html.DropDownList(String.Format("PointOfWaterDeviceTypeUID", ViewData["Index"]), new SelectList((SelectList)ViewData["DevicesList"], "Value", "Text", Model.PointOfWaterDeviceTypeUID))
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.PointOfWaterDeviceTypeUID)
        </div>
    </td>

    <td class="number">
        <div class="editor-field">
            @Html.EditorFor(model => model.Number)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Number)
        </div>
    </td>

    <td class="description">
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
        </div>
        <div class="validationmessage">
            @Html.ValidationMessageFor(model => model.Description)
        </div>
    </td>
    <td class="controls">
        <div>
            <input class="removeItem" type="submit" name="@String.Format("remove{0}", ViewData["Index"])" value="@Navitas.Resources.Strings.RemoveItem" title="@Navitas.Resources.Strings.RemoveItemDescription" />
        </div>
    </td>
</tr>
