@{
    string actionName = (string)ViewContext.RouteData.Values["Action"];

    string currentView = (ViewData["CurrentView"] != null) ? (string)ViewData["CurrentView"] : actionName;
}

<input type="submit" name="navItem_Building_AddInfo" value="@Navitas.Resources.Strings.BuildingGeneral_NavItem" class="navbutton @if (String.Equals("AddInfo", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_IntakeLastYear" value="@Navitas.Resources.Strings.Building_IntakeLastYear_NavItem" class="navbutton @if (String.Equals("IntakeLastYear", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Electroload_list-he" value="@Navitas.Resources.Strings.Electrolad_HouseholdEquipment_NavItem" class="navbutton @if (String.Equals("Electroload?list=he", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Electroload_list-pe" value="@Navitas.Resources.Strings.Electrolad_ProcessEquipment_NavItem" class="navbutton @if (String.Equals("Electroload?list=pe", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Electroload_list-oe" value="@Navitas.Resources.Strings.Electrolad_OfficeEquipment_NavItem" class="navbutton @if (String.Equals("Electroload?list=oe", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Electroload_list-hte" value="@Navitas.Resources.Strings.Electrolad_HeatingEquipment_NavItem" class="navbutton @if (String.Equals("Electroload?list=hte", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Electroload_list-ile" value="@Navitas.Resources.Strings.Electrolad_InternalLightingEquipment_NavItem" class="navbutton @if (String.Equals("Electroload?list=ile", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Electroload_list-ele" value="@Navitas.Resources.Strings.Electrolad_ExternalLightingEquipment_NavItem" class="navbutton @if (String.Equals("Electroload?list=ele", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_ItpEquipment" value="@Navitas.Resources.Strings.ItpEquipment_NavItem" class="navbutton @if (String.Equals("ItpEquipment", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_VentIn" value="@Navitas.Resources.Strings.VentilationIn_NavItem" class="navbutton @if (String.Equals("VentIn", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_VentOut" value="@Navitas.Resources.Strings.VentilationOut_NavItem" class="navbutton @if (String.Equals("VentOut", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Building_Radiators" value="@Navitas.Resources.Strings.Radiator_NavItem" class="navbutton @if (String.Equals("Radiators", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Building_Technical" value="@Navitas.Resources.Strings.Technical_NavItem" class="navbutton @if (String.Equals("Technical", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Building_PowerQty" value="@Navitas.Resources.Strings.SimplePowerQuality_NavItem" class="navbutton @if (String.Equals("PowerQty", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Building_EnvQty" value="@Navitas.Resources.Strings.EnvironmentQuality_NavItem" class="navbutton @if (String.Equals("EnvQty", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr; 
<input type="submit" name="navItem_Building_WaterPoints" value="@Navitas.Resources.Strings.WaterPoints_NavItem" class="navbutton @if (String.Equals("WaterPoints", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Meters_list-ele" value="@Navitas.Resources.Strings.Meters_ElectricEnergy_NavItem" class="navbutton @if (String.Equals("Meters?list=ele", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Meters_list-clw" value="@Navitas.Resources.Strings.Meters_ColdWater_NavItem" class="navbutton @if (String.Equals("Meters?list=clw", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Meters_list-htw" value="@Navitas.Resources.Strings.Meters_HotWater_NavItem" class="navbutton @if (String.Equals("Meters?list=htw", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Meters_list-htn" value="@Navitas.Resources.Strings.Meters_Heating_NavItem" class="navbutton @if (String.Equals("Meters?list=htn", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Meters_list-gas" value="@Navitas.Resources.Strings.Meters_Gas_NavItem" class="navbutton @if (String.Equals("Meters?list=gas", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
&rarr;
<input type="submit" name="navItem_Building_Illustration" value="@Navitas.Resources.Strings.BuildingIllustration_NavItem" class="navbutton @if (String.Equals("Illustration", currentView, StringComparison.InvariantCultureIgnoreCase))
                                                                                      {<text>selected</text>}" />
