﻿@model Navitas.ViewModels.Building.AddInfoEditModel
@{
    ViewBag.Title = Navitas.Resources.Strings.BuildingGeneral_Title;
}
@using (Html.BeginForm("AddInfo", "Building", FormMethod.Post, new { id = "formAddInfo" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
        
    <h2>@Navitas.Resources.Strings.BuildingGeneral_Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "buildingaddinfo-validation" })

    <table class="singlerows" style="width: auto;">
        <thead>
            <tr>
                <th class="orderNumber">@Navitas.Resources.Strings.OrderNumber
                </th>
                <th colspan="2">
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    1
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NumberOfFloor)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.NumberOfFloor)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.NumberOfFloor)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    2
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NumberOfEntrances)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.NumberOfEntrances)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.NumberOfEntrances)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    3
                </td>
                <td colspan="3" class="editor-label">@Navitas.Resources.Strings.BuildingGeneral_ResourceSupply
                </td>
            </tr>
            <tr>
                <td rowspan="5">
                </td>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Electro)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Electro, Model.ResourceTypeList)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.Electro)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Heat)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Heat, Model.ResourceTypeList)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.Heat)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Water)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Water, Model.ResourceTypeList)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.Water)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Sewerage)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Sewerage, Model.ResourceTypeList)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.Sewerage)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.Gas)
                    </div>
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.Gas, Model.ResourceTypeList)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.Gas)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    4
                </td>
                <td class="editor-label">@Navitas.Resources.Strings.BuildingGeneral_City
                </td>
                <td>
                    <div class="editor-field">
                        @Html.DropDownListFor(model => model.City, Model.CityList)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.City)
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5
                </td>
                <td class="editor-label">
                    @Html.LabelFor(model => model.BuildingYear)
                </td>
                <td>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.BuildingYear)
                    </div>
                    <div class="validationmessage">
                        @Html.ValidationMessageFor(model => model.BuildingYear)
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <p>
    </p>    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Next); }
    </p>        
}
