﻿@model Navitas.ViewModels.Building.ElectroloadListEditModel

@{
    ViewBag.Title = Navitas.Resources.Strings.ElectroloadTitle;
}

<h2>@Navitas.Resources.Strings.ElectroloadTitle</h2>

<script type="text/javascript">

    // Функция, описывающая объект для формы Электрооборудования
    function ElectroloadViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "electroload-container";
        this.formId = "formElectroload";
        this.rowSelector = ".electroloadItemRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Building/GetNewElectroloadItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(ElectroloadViewType, Navitas.DynamicListView);

    // Переопределить функции

    ElectroloadViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    ElectroloadViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    ElectroloadViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    ElectroloadViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    ElectroloadViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    ElectroloadViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    ElectroloadViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    ElectroloadViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    ElectroloadViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    ElectroloadViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var ElectroloadView = new ElectroloadViewType();


</script>

<script type="text/javascript">
    $(document).ready(function () {
        ElectroloadView.onLoad();
    });

    $(window).unload(function () {
        ElectroloadView.onUnload();
    });   
</script>

@using (Html.BeginForm("Electroload", "Building", FormMethod.Post, new { id = "formElectroload" }))
{
    <p>
        @Html.Partial("_Navigation", new ViewDataDictionary { { "CurrentView", "Electroload?list=" + Model.ListIdentifier} })
    </p>
    
    <h2>@Html.Encode(Model.ListName)</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "electroload-validation" })

    @Html.HiddenFor(m => m.ListIdentifier)
    @Html.HiddenFor(m => m.ListName)
    

    <table id="electroload-container" class="singlerows">
        <thead>
            <tr>
                <th class="orderNumber header-ordernumber"><div>@Navitas.Resources.Strings.OrderNumber</div></th>
                <th>@Navitas.Resources.Names.ElectroloadName</th>
                <th>@Html.Encode(Navitas.Resources.Names.ElectroloadCount + ", " + Navitas.Resources.Strings.ElectroloadCount_Unit)</th>
                <th>@Html.Encode(Navitas.Resources.Names.ElectroloadPower + ", " + Navitas.Resources.Strings.ElectroloadPower_Unit)</th>
                <th>@Html.Encode(Navitas.Resources.Names.ElectroloadHours + ", " + Navitas.Resources.Strings.ElectroloadHours_Unit)</th>
                <th class="controls"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                @Html.EditorFor(model => model.Items[i], "ElectroloadItem", new { index = i })
            }
        </tbody>
    </table>

    <textarea class="import" name="import"></textarea>
    
    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>

    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>    
}

