﻿@model Navitas.ViewModels.Building.EnvironmentQualityEditModel

@{
    ViewBag.Title = Navitas.Resources.Strings.EnvironmentQuality_Title;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Точек водоразбора
    function EnvQualityViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "envqty-container";
        this.formId = "formEnvQty";
        this.rowSelector = ".envqtyRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Building/GetNewEnvQualityItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(EnvQualityViewType, Navitas.DynamicListView);

    // Переопределить функции

    EnvQualityViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    EnvQualityViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    EnvQualityViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    EnvQualityViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    EnvQualityViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    EnvQualityViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    EnvQualityViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    EnvQualityViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    EnvQualityViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    EnvQualityViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var EnvQualityView = new EnvQualityViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        EnvQualityView.onLoad();
    });

    $(window).unload(function () {
        EnvQualityView.onUnload();
    });   
</script>

@using (Html.BeginForm("EnvQty", "Building", FormMethod.Post, new { id = "formEnvQty" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.EnvironmentQuality_Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "envqty-validation" })

    <table id="envqty-container" class="singlerows">
        <thead>
            <tr>
                <th class="orderNumber header-ordernumber"><div>@Navitas.Resources.Strings.OrderNumber</div></th>
                <th>@Navitas.Resources.Names.EnvironmentQuality_RoomType</th>
                <th>@Html.Encode(Navitas.Resources.Names.EnvironmentQuality_Temperature + ", " + Navitas.Resources.Strings.EnvironmentQuality_Temperature_Unit)</th>
                <th>@Html.Encode(Navitas.Resources.Names.EnvironmentQuality_Humidity + ", " + Navitas.Resources.Strings.EnvironmentQuality_Humidity_Unit)</th>
                <th>@Html.Encode(Navitas.Resources.Names.EnvironmentQuality_Illumination + ", " + Navitas.Resources.Strings.WaterPoints_Number_Unit)</th>
                <th>@Html.Encode(Navitas.Resources.Names.EnvironmentQuality_WindSpeed + ", " + Navitas.Resources.Strings.EnvironmentQuality_WindSpeed_Unit)</th>
                <th class="controls"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                @Html.EditorFor(model => model.Items[i], "EnvQtyItem", new { index = i, RoomTypes = Model.RoomTypes })
            }
        </tbody>
    </table>

    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next ); }
    </p>    
}


