﻿@model Navitas.ViewModels.Building.IllustrationListEditModel

@{
    ViewBag.Title = Navitas.Resources.Strings.BuildingIllustration_Title;
}

@* Template for loaded images *@
<script id="photoTemplate" type="text/x-jquery-tmpl">
    <div class="photoItem" >
        <table>
            <tr>
                <td>
                    <div class="preview">
                        <a class="previewlink" href="${ImageUrl}" target="_blank"><img class="previewimage" src="${ThumbUrl}" /></a>
                        <img class="previewDelete" src="/content/images/del.png" data-fileid="${FileId}" title="Удалить" />
                    </div>
                </td>
                <td class="name">
                    ${UserTitle}
                </td>
            </tr>
        </table>
        <input type="hidden" class="photoItemId" value="${FileId}" />
    </div>
</script>

<script src="@Url.Content("~/Scripts/Navitas/illustrations.js")" type="text/javascript"></script>

<script type="text/javascript">
    IllustrationViewType = function () {
        this.onLoad = function () {
        };

        this.onUnload = function () {
        };
    };

    var IllustrationView = new IllustrationViewType();

</script>

<script type="text/javascript">

    $(document).ready(function () {

        IllustrationView.onLoad();
    });

    $(window).unload(function () {

        IllustrationView.onUnload();
    });

</script>


@using (Html.BeginForm("Illustration", "Building", FormMethod.Post, new { id = "formIllustration1" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.BuildingIllustration_Fieldset</h2>
}    

<div id="buildingillustration-container">

    <h3>Общий вид здания</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary{
            { "BuildingId", ViewBag.BuildingId}, 
            { "SectionId", "общий вид" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("общий вид") }
            }) 

    <br />
    <h3>ИТП (Индивидуальный тепловой пункт)</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "ИТП" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("ИТП") }
            }) 

    <br />
    <h3>Тепловизионная съемка ИТП</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Тепловизионная съемка ИТП" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Тепловизионная съемка ИТП") }
            }) 

    <br />
    <h3>Приборы учета электроэнергии</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Приборы учета электроэнергии" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Приборы учета электроэнергии") }
            }) 

    <br />
    <h3>Приборы учета холодной воды</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Приборы учета холодной воды" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Приборы учета холодной воды") }
            }) 

    <br />
    <h3>Приборы учета горячей воды</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Приборы учета горячей воды" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Приборы учета горячей воды") }
            }) 

    <br />
    <h3>Приборы учета тепла</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Приборы учета тепла" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Приборы учета тепла") }
            }) 

    <br />
    <h3>Приборы учета газа</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Приборы учета газа" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Приборы учета газа") }
            }) 

    <br />
    <h3>ВРУ</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "ВРУ" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("ВРУ") }
            }) 

    <br />
    <h3>Термограммы</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Термограммы" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Термограммы") }
            })
    <br />
    <h3>Дополнительные</h3>

    @Html.Partial("IllustrationUploadForm", null, new ViewDataDictionary { 
            { "BuildingId", ViewBag.BuildingId }, 
            { "SectionId", "Дополнительные" },
            { "DataJson", Model.GetJsonDataFilteredBySectionName("Дополнительные") }
            }) 
</div>

@using (Html.BeginForm("Illustration", "Building", FormMethod.Post, new { id = "formIllustration2" }))
{
    <br />
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev); }
    </p>    
}  