﻿@model Navitas.ViewModels.Building.Base.ListEditModel

@{
    ViewBag.Title = Model.Title;
}

<script type="text/javascript">

    // Функция, описывающая объект для общей формы списков
    function MasterListViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = '@Html.Encode("masterlist-container-" + Model.ListIdentifier)';
        this.formId = "formMasterList";
        this.rowSelector = ".masterListRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = '@Model.AddItemUrl';
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(MasterListViewType, Navitas.DynamicListView);

    // Переопределить функции

    MasterListViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    MasterListViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    MasterListViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    MasterListViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    MasterListViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    MasterListViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    MasterListViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    MasterListViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    MasterListViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    MasterListViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var MasterListView = new MasterListViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        MasterListView.onLoad();
    });

    $(window).unload(function () {
        MasterListView.onUnload();
    });   
</script>

@using (Html.BeginForm("Meters", "Building", FormMethod.Post, new { id = "formMasterList" }))
{
    <p>
        @Html.Partial("_Navigation", new ViewDataDictionary { { "CurrentView", "Meters?list=" + Model.ListIdentifier } })
    </p>
       
    <h2>@Model.Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "masterlist-validation" })

    @Html.HiddenFor(model => model.ItemsTypeName)
    @Html.HiddenFor(model => model.ListIdentifier)
    @Html.HiddenFor(model => model.AddItemUrl)
            
    <div id="@Html.Encode("masterlist-container-" + Model.ListIdentifier)">
        @Html.DisplayFor(model => model)

        @for (int i = 0; i < Model.Items.Count; i++)
        {
            @Html.EditorFor(model => model.Items[i], new { index = i })
        }
    </div>
    
    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>    
}

