﻿@model Navitas.ViewModels.Building.SimplePowerQualityEditModel

@{
    ViewBag.Title = Navitas.Resources.Strings.SimplePowerQuality_Title;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Замера электроэнергии
    function SimplePowerQualityViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "simplepowerqty-container";
        this.formId = "formSimplePowerQty";
        this.rowSelector = ".simplePowerQtyRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Building/GetNewSimplePowerQualityItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(SimplePowerQualityViewType, Navitas.DynamicListView);

    // Переопределить функции

    SimplePowerQualityViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    SimplePowerQualityViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    SimplePowerQualityViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    SimplePowerQualityViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    SimplePowerQualityViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    SimplePowerQualityViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    SimplePowerQualityViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    SimplePowerQualityViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    SimplePowerQualityViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    SimplePowerQualityViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var SimplePowerQualityView = new SimplePowerQualityViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        SimplePowerQualityView.onLoad();
    });

    $(window).unload(function () {
        SimplePowerQualityView.onUnload();
    });   
</script>

@using (Html.BeginForm("PowerQty", "Building", FormMethod.Post, new { id = "formSimplePowerQty" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.SimplePowerQuality_Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "simplepowerqty-validation" })

    <table id="simplepowerqty-container" class="singlerows">
        <tbody>
            <tr>
                <th>@Navitas.Resources.Strings.SimplePowerQuality_Caption</th>
            </tr>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                @Html.EditorFor(model => model.Items[i], "SimplePowerQtyItem", new { index = i })
            }                
        </tbody>
    </table>

    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>    
}

