﻿@model Navitas.ViewModels.Radiator.RadiatorListEditModel
           
@{
    ViewBag.Title = Navitas.Resources.Strings.Radiator_Title;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Вытяжной вентиляции
    function RadiatorViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "radiator-container";
        this.formId = "formRadiator";
        this.rowSelector = ".radiatorRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Building/GetNewRadiatorItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(RadiatorViewType, Navitas.DynamicListView);

    // Переопределить функции

    RadiatorViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    RadiatorViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    RadiatorViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    RadiatorViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    RadiatorViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    RadiatorViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    RadiatorViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    RadiatorViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    RadiatorViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    RadiatorViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var RadiatorView = new RadiatorViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        RadiatorView.onLoad();
    });

    $(window).unload(function () {
        RadiatorView.onUnload();
    });   
</script>

@using (Html.BeginForm("Radiators", "Building", FormMethod.Post, new { id = "formRadiator" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.Radiator_Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "radiator-validation" })

    <table id="radiator-container" class="singlerows">
        <thead>
            <tr>
                <th class="orderNumber header-ordernumber"><div>@Navitas.Resources.Strings.OrderNumber</div></th>
                <th>@Navitas.Resources.Names.Radiator_Location</th>
                <th>@Navitas.Resources.Names.Radiator_Name</th>
                <th>@Html.Encode(Navitas.Resources.Names.Radiator_Count + ", " + Navitas.Resources.Strings.Radiator_Count_Unit)</th>
                <th>@Html.Encode(Navitas.Resources.Names.Radiator_CountThermostats + ", " + Navitas.Resources.Strings.Radiator_CountThermostats_Unit)</th>
                <th class="controls"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                @Html.EditorFor(model => model.Items[i], "RadiatorItem", new { index = i })
            }
        </tbody>
    </table>

    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next ); }
    </p>    
}

