﻿@model Navitas.ViewModels.Ventilation.CombinedInputListEditModel

@{
    ViewBag.Title = @Navitas.Resources.Strings.VentilationIn_Title;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Приточной вентиляции
    function InspectionVentinViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "ventin-container";
        this.formId = "formVentin";
        this.rowSelector = ".ventinRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Building/GetNewVentinItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(InspectionVentinViewType, Navitas.DynamicListView);

    // Переопределить функции

    InspectionVentinViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    InspectionVentinViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    InspectionVentinViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    InspectionVentinViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    InspectionVentinViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    InspectionVentinViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    InspectionVentinViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    InspectionVentinViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    InspectionVentinViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    InspectionVentinViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var InspectionVentinView = new InspectionVentinViewType();


</script>

<script type="text/javascript">
    $(document).ready(function () {
        InspectionVentinView.onLoad();
    });


    $(window).unload(function () {
        InspectionVentinView.onUnload();
    });   

</script>

@using (Html.BeginForm("VentIn", "Building", FormMethod.Post, new { id = "formVentin" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.VentilationIn_Fieldset</h2>
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "ventin-validation" })

        <div id="ventin-container">

                <table class="contains-headerlines">
                    <tr>
                        <td class="orderNumber header-ordernumber"><div>@Navitas.Resources.Strings.OrderNumber</div></td>
                        <td class="header-data">
                            <table class="headerline1">
                                <tr>
                                <td class="name">@Navitas.Resources.Names.VentilationIn_Name</td>
                                <td class="servedpremises">@Navitas.Resources.Names.VentilationIn_ServedPremises</td>
                                <td class="systembrand">@Navitas.Resources.Names.VentilationIn_Brand</td>
                                <td class="airflow">@Html.Encode(Navitas.Resources.Names.VentilationIn_Airflow + ", " + Navitas.Resources.Strings.VentilationIn_Airflow_Unit)</td>
                                <td class="powerheating">@Html.Encode(Navitas.Resources.Names.VentilationIn_PowerInHeating + ", " + Navitas.Resources.Strings.VentilationIn_PowerInHeating_Unit)</td>
                                <td class="powercooling">@Html.Encode(Navitas.Resources.Names.VentilationIn_PowerInCooling + ", " + Navitas.Resources.Strings.VentilationIn_PowerInCooling_Unit)</td>
                                </tr>
                            </table>
                            <table class="headerline2">
                                <tr>
                                <td class="hoursmonth">@Html.Encode(Navitas.Resources.Names.VentilationIn_HoursMonth + ", " + Navitas.Resources.Strings.VentilationIn_HoursMonth_Unit)</td>
                                <td class="hoursyear">@Html.Encode(Navitas.Resources.Names.VentilationIn_HoursYear + ", " + Navitas.Resources.Strings.VentilationIn_HoursYear_Unit)</td>
                                <td class="hourscoldperiod">@Html.Encode(Navitas.Resources.Names.VentilationIn_HoursColdPeriod + ", " + Navitas.Resources.Strings.VentilationIn_HoursColdPeriod_Unit)</td>
                                <td class="hourswarmperiod">@Html.Encode(Navitas.Resources.Names.VentilationIn_HoursWarmPeriod + ", " + Navitas.Resources.Strings.VentilationIn_HoursWarmPeriod_Unit)</td>
                                <td class="pumpbrand">@Navitas.Resources.Names.VentilationIn_PumpBrand</td>
                                <td class="pumppower">@Html.Encode(Navitas.Resources.Names.VentilationIn_PumpPower + ", " + Navitas.Resources.Strings.VentilationIn_PumpPower_Unit)</td>
                                <td class="recycle">@Navitas.Resources.Names.VentilationIn_RecyclingAvailable</td>
                                </tr>
                            </table>
                        </td>
                        <td class="controls"><div></div></td>
                    </tr>
                </table>

            @for (int i = 0; i < Model.Items.Count; i++)
            {
                @Html.EditorFor(model => model.Items[i], "VentInItem", new { index = i })
            }
           
        </div>

    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Next | Navitas.Controls.ViewNavigationItems.Save); }
    </p>    
}

