﻿@model Navitas.ViewModels.Ventilation.ExtractListEditModel

@{
    ViewBag.Title = Navitas.Resources.Strings.VentilationOut_Title;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Вытяжной вентиляции
    function VentoutViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "ventout-container";
        this.formId = "formVentout";
        this.rowSelector = ".ventoutRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Building/GetNewVentoutItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(VentoutViewType, Navitas.DynamicListView);

    // Переопределить функции

    VentoutViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    VentoutViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    VentoutViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    VentoutViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    VentoutViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    VentoutViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    VentoutViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    VentoutViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    VentoutViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    VentoutViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var VentoutView = new VentoutViewType();


</script>

<script type="text/javascript">
    $(document).ready(function () {
        VentoutView.onLoad();
    });

    $(window).unload(function () {
        VentoutView.onUnload();
    });   
</script>

@using (Html.BeginForm("VentOut", "Building", FormMethod.Post, new { id = "formVentout" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.VentilationOut_Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "ventout-validation" })

        <table id="ventout-container" class="singlerows">
            <thead>
                <tr>
                    <th class="orderNumber header-ordernumbe"><div>@Navitas.Resources.Strings.OrderNumber</div></th>
                    <th>@Navitas.Resources.Names.VentilationOut_Name</th>
                    <th>@Navitas.Resources.Names.VentilationOut_ServedPremises</th>
                    <th>@Html.Encode(Navitas.Resources.Names.VentilationOut_AirFlow + ", " + Navitas.Resources.Strings.VentilationOut_AirFlow_Unit)</th>
                    <th>@Navitas.Resources.Names.VentilationOut_Brand</th>
                    <th>@Html.Encode(Navitas.Resources.Names.VentilationOut_Power + ", " + Navitas.Resources.Strings.VentilationOut_Power_Unit)</th>
                    <th>@Html.Encode(Navitas.Resources.Names.VentilationOut_HoursMonth + ", " + Navitas.Resources.Strings.VentilationOut_HoursMonth_Unit)</th>
                    <th>@Html.Encode(Navitas.Resources.Names.VentilationOut_HoursYear + ", " + Navitas.Resources.Strings.VentilationOut_HoursYear_Unit)</th>
                    <th class="controls"></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    @Html.EditorFor(model => model.Items[i], "VentOutItem", new { index = i })
                }
           </tbody>
        </table>

    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next); }
    </p>    
}

