﻿@model Navitas.ViewModels.Building.PointOfWaterListEditModel
           
@{
    ViewBag.Title = Navitas.Resources.Strings.WaterPoints_Title;
}

<script type="text/javascript">

    // Функция, описывающая объект для формы Точек водоразбора
    function WaterPointsViewType() {

        var self = this; // Для обработчиков событий
        this.containerId = "waterpoints-container";
        this.formId = "formWaterPoints";
        this.rowSelector = ".waterPointRow";
        this.numberContainerSelector = ".orderNumber";
        this.urlNewUnit = "/Building/GetNewWaterPointItem";
        this.addButtonId = "btnAddItem";
        this.removeButtonSelector = ".removeItem";

        // Обработчик события нажатия на кнопку добавления нового элемента
        this.addItem_onClick = function () {
            self.addItem();
            return false;
        }

        this.removeItem_onClick = function () {
            self.removeItem(this); // передаем button input в качестве параметра
            return false;
        }
    }

    // Унаследоваться от базового представления
    extend(WaterPointsViewType, Navitas.DynamicListView);

    // Переопределить функции

    WaterPointsViewType.prototype.base_onLoad = Navitas.DynamicListView.prototype.onLoad;
    WaterPointsViewType.prototype.onLoad = function () {
        this.base_onLoad();

    };

    WaterPointsViewType.prototype.base_onUnload = Navitas.DynamicListView.prototype.onUnload;
    WaterPointsViewType.prototype.onUnload = function () {
    };

    // Инициализует элементы формы при загрузке
    WaterPointsViewType.prototype.base_initControls = Navitas.DynamicListView.prototype.initControls;
    WaterPointsViewType.prototype.initControls = function (container) {

        this.base_initControls(container);

        if (typeof (container) == 'undefined' || container == null) {
            $("#" + this.addButtonId).click(this.addItem_onClick);
        }

        if (typeof (container) !== 'undefined' && container != null) {
            $(this.removeButtonSelector, container).click(this.removeItem_onClick);
        }
        else {
            $(this.removeButtonSelector, "#" + this.containerId).click(this.removeItem_onClick);
        }
    };

    // Фукнция вызываемая перед отправкой запроса на добавление элемента
    WaterPointsViewType.prototype.base_beforeRequestAddItem = Navitas.DynamicListView.prototype.beforeRequestAddItem;
    WaterPointsViewType.prototype.beforeRequestAddItem = function () {
        this.base_beforeRequestAddItem();
        $("#" + this.addButtonId).attr('disabled', 'disabled');
    };

    // Функция, вызываемы после выполнения запроса на добавление элемента
    WaterPointsViewType.prototype.base_afterRequestAddItem = Navitas.DynamicListView.prototype.afterRequestAddItem;
    WaterPointsViewType.prototype.afterRequestAddItem = function () {
        this.base_afterRequestAddItem();
        $("#" + this.addButtonId).removeAttr('disabled');
    };

    var WaterPointsView = new WaterPointsViewType();

</script>

<script type="text/javascript">
    $(document).ready(function () {
        WaterPointsView.onLoad();
    });

    $(window).unload(function () {
        WaterPointsView.onUnload();
    });   
</script>

@using (Html.BeginForm("WaterPoints", "Building", FormMethod.Post, new { id = "formWaterPoints" }))
{
    <p>
        @Html.Partial("_Navigation")
    </p>
    
    <h2>@Navitas.Resources.Strings.WaterPoints_Fieldset</h2>
    
    @Html.ValidationSummary(false, @Navitas.Resources.ValidationStrings.SomeFieldIsNotValid, new { id = "waterpoints-validation" })

    <table id="waterpoints-container" class="singlerows">
        <thead>
            <tr>
                <th class="orderNumber header-ordernumber"><div>@Navitas.Resources.Strings.OrderNumber</div></th>
                <th>@Navitas.Resources.Names.WaterPoints_Point</th>
                <th>@Navitas.Resources.Names.WaterPoints_Device</th>
                <th>@Html.Encode(@Navitas.Resources.Names.WaterPoints_Number + ", " + Navitas.Resources.Strings.WaterPoints_Number_Unit)</th>
                <th>@Navitas.Resources.Names.WaterPoints_Description</th>
                <th class="controls"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Items.Count; i++)
            {
                @Html.EditorFor(model => model.Items[i], "WaterPointItem", new { index = i, PointsList = Model.PointsList, DevicesList = Model.DevicesList })
            }
        </tbody>
    </table>

    <p></p>
    <p>
        <input id="btnAddItem" type="submit" name="addItem" value="@Navitas.Resources.Strings.AddItem" title="@Navitas.Resources.Strings.AddItemDescription" />
    </p>
    
    <p>
        @{ Html.RenderPartial("_ViewNavigation", Navitas.Controls.ViewNavigationItems.Prev | Navitas.Controls.ViewNavigationItems.Save | Navitas.Controls.ViewNavigationItems.Next ); }
    </p>    
}

