﻿@model Navitas.ViewModels.Building.Meter.MeterGasListEditModel
<table class="contains-headerlines">
    <tr>
        <td class="orderNumber header-ordernumber">
            <div>@Navitas.Resources.Strings.OrderNumber</div>
        </td>
        <td class="header-data">
            <table class="headerline1">
                <tr>
                    <td class="installside">@Navitas.Resources.Names.Meters_InstallationSite
                    </td>
                    <td class="caption">@Navitas.Resources.Names.Meters_Caption
                    </td>
                    <td class="acclass">@Navitas.Resources.Names.Meters_AccuracyClass
                    </td>
                    <td class="sealing">@Navitas.Resources.Names.Meters_Sealing
                    </td>
                </tr>
            </table>
            <table class="headerline2">
                <tr>
                    <td class="year">@Navitas.Resources.Names.Meters_Year
                    </td>
                    <td class="verifyday">@Navitas.Resources.Names.Meters_DateOfVerification
                    </td>
                    <td class="sn">@Navitas.Resources.Names.Meters_SerialNumber
                    </td>
                    <td class="comment">@Navitas.Resources.Names.Meters_Comment
                    </td>
                </tr>
            </table>
        </td>
        <td class="controls">
            <div>
            </div>
        </td>
    </tr>
</table>