﻿@model Navitas.ViewModels.Common.VariableCompsositeRow<String>

@{ ViewData.TemplateInfo.HtmlFieldPrefix = ViewData["Prefix"].ToString(); }

@for (int i = 0; i < Model.Items.Count; i++)
{
    <td class="editor-label">
        @if (Model.Items[i].IsReadonly) {
        @Html.TextBox("Items[" + i.ToString() + "].Value", Model.Items[i].Value,
             new { @class="readonly", @readonly="readonly" })
        }
        else {
        @Html.TextBox("Items[" + i.ToString() + "].Value", Model.Items[i].Value,
             new {  })
        }
    </td>
}