﻿@model Navitas.ViewModels.Intake.TwelveMonthsNumbersEditModel

@{ 
    ViewData.TemplateInfo.HtmlFieldPrefix = ViewData["Prefix"].ToString();
    
    bool isReadonly = Model.IsReadOnly;

    // Извлекаем из ViewData признак отображать ли Итоговое значени (суммирующее)
    bool showTotal = (ViewData["ShowTotal"] != null) ? (bool)ViewData["ShowTotal"] : false;
    
    object htmlAttributes;
    if (isReadonly)
    {
        // Делаем поле только для чтение и отключаем javascript-валидацию
        htmlAttributes = new { @class = "readonly", @readonly = "readonly", data_val = "false" };
    }
    else
    {
        htmlAttributes = new { @class = "hyphen-number" };
    }   
}

<td>
    @Html.HiddenFor(m => m.IsReadOnly)
    <div class="editor-field">
        @Html.TextBox("January", Model.January, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.January)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("February", Model.February, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.February)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("March", Model.March, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.March)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("April", Model.April, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.April)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("May", Model.May, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.May)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("June", Model.June, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.June)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("July", Model.July, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.July)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("August", Model.August, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.August)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("September", Model.September, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.September)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("October", Model.October, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.October)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("November", Model.November, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.November)
    </div>
</td>

<td>
    <div class="editor-field">
        @Html.TextBox("December", Model.December, htmlAttributes)
    </div>
    <div class="validationmessage">
        @Html.ValidationMessageFor(model => model.December)
    </div>
</td>

<td>
    @if (showTotal)
    {
        <div class="editor-field">
            @Html.TextBox("Total", Model.Total, new { @class = "readonly", @readonly = "readonly", data_val = "false" })
        </div>
    }
</td>

