﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    @*<link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />*@

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <link href="@Url.Content("~/Content/05-jquery-ui.debug.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/15-jquery.tooltip.debug.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/20-jquery-ui-timepicker-addon.debug.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/30-jHtmlArea.debug.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/31-jHtmlArea.ColorPickerMenu.debug.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/35-styles.debug.css")" rel="stylesheet" type="text/css" />
    }
    else
    {
       <link href="@Url.Content("~/Content/styles.bundle.css")" rel="stylesheet" type="text/css" />
    }

    <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.24.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.tmpl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="@Url.Content("~/Scripts/plugins/10-jquery-ui-timepicker-addon.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/15-jquery.ui.datepicker-ru.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/20-jquery-ui-timepicker-ru.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/25-globalize.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/30-jquery.tooltip.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/plugins/35-jquery.form.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/plugins/40-jquery.iframe-transport.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/plugins/45-jquery.fileupload.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/plugins/50-jquery.fileupload-ui.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/plugins/55-jquery.blockUI.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/scripts/plugins/60-jquery.jgrowl.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/65-jHtmlArea-0.7.5.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/plugins/66-jHtmlArea.ColorPickerMenu-0.7.0.debug.js")" type="text/javascript"></script>
    }
    else
    {
        <script src="@Url.Content("~/Scripts/plugins/plugins.bundle.js")" type="text/javascript"></script>
    }

    <script src="@Url.Content("~/Scripts/cultures/globalize.culture.ru-RU.js")" type="text/javascript"></script>

    <script type="text/javascript">
        var Navitas = {
            currentLanguage: "ru",
            resources: {
                // Сообщение об ошибке асинхронной загрузки
                ajaxErrorMessage: '@Navitas.Resources.Strings.InspectionStaff_ErrorAjaxRequest'
            }
        };

    </script>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
        <script src="@Url.Content("~/Scripts/navitas/03-utils.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/navitas/05-jqvalidation.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/navitas/08-autocalc.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/navitas/10-inheritance.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/navitas/20-ViewBase.debug.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/navitas/25-DynamicListView.debug.js")" type="text/javascript"></script>
    }
    else
    {
        <script src="@Url.Content("~/Scripts/navitas/navitas.bundle.js")" type="text/javascript"></script>
    }
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Энергообследование от XXXIII.ru</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("Обследования", "Index", "Inspection")</li>
                    <li>@Html.ActionLink("О ситеме", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
</body>
</html>
