﻿@if(Request.IsAuthenticated) {
    <text>Здравствуйте, <strong>@User.Identity.Name</strong>!
    [ @Html.ActionLink("Выйти", "LogOff", "Account") ]</text>
}
else {
    @:[ @Html.ActionLink("Войти", "LogOn", "Account") ]
}
