﻿@model Navitas.Controls.ViewNavigationItems

@if ((Model & Navitas.Controls.ViewNavigationItems.Prev) == Navitas.Controls.ViewNavigationItems.Prev) {
    <input type="submit" name="buttonPrev" value="Назад" />
}

@if ((Model & Navitas.Controls.ViewNavigationItems.Save) == Navitas.Controls.ViewNavigationItems.Save) {
<input type="submit" name="buttonSave" value="Сохранить" />
}

@if ((Model & Navitas.Controls.ViewNavigationItems.Next) == Navitas.Controls.ViewNavigationItems.Next) {
<input type="submit" name="buttonNext" value="Далее" />
}
