﻿@* Форма, изспользуемая для загрузки иллюстраций для здания.
*@   

@{
    int buildingId = (int)ViewData["BuildingId"];
    string sectionId = (string)ViewData["SectionId"];
    string dataJson = (string)ViewData["DataJson"];
}

   
@using (Html.BeginForm("AsyncUploadImage", "File", new { buildingId = buildingId, sectionId = sectionId }, FormMethod.Post, new { enctype = "multipart/form-data", @class = "ajaxuploadform" }))
{
    <input type="hidden" class="sectionid" value="@sectionId" />
    <input type="hidden" class="data" value="@dataJson" />
    <p>
        <label>Выберите файл для загрузки на сервер: <input class="inputFile" type="file" name="file" /></label>

        <a style="margin-left: 15px;" class="ajaxUploadButton" href="javascript:void(0)">Загрузить</a>
    </p>
            
    <div class="imagesContainer">
    </div>
}