﻿@model Navitas.ViewModels.Intake.TwelveMonthIntakeEditModel
    
@Html.HiddenFor(m=>m.BaseYear)

<table id="intakelastyear-container" class="singlerows">
    <thead>
        <tr>
            <th rowspan="2">@Navitas.Resources.Strings.OrderNumber</th>
            <th rowspan="2">@Navitas.Resources.Strings.EnergyResource</th>
            <th rowspan="2">@Navitas.Resources.Strings.MeasureUnit</th>
            <th colspan="12">@Navitas.Resources.Strings.Month</th>
            <th rowspan="2">@Navitas.Resources.Strings.ConsumptionTotal</th>
        </tr>
        <tr>
            <th>@Navitas.Resources.Strings.Month1Short</th>
            <th>@Navitas.Resources.Strings.Month2Short</th>
            <th>@Navitas.Resources.Strings.Month3Short</th>
            <th>@Navitas.Resources.Strings.Month4Short</th>
            <th>@Navitas.Resources.Strings.Month5Short</th>             
            <th>@Navitas.Resources.Strings.Month6Short</th>
            <th>@Navitas.Resources.Strings.Month7Short</th>
            <th>@Navitas.Resources.Strings.Month8Short</th>
            <th>@Navitas.Resources.Strings.Month9Short</th>
            <th>@Navitas.Resources.Strings.Month10Short</th>
            <th>@Navitas.Resources.Strings.Month11Short</th>
            <th>@Navitas.Resources.Strings.Month12Short</th>      
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Values.Count; i++)
        {
            @* rowspan варьируется для разных пунктов и еще зависит от того, показываются ли строки с тарифами. *@
            int rowspan = Model.ShowTariffs ? 3 : 2;
            
            if (i == 1 && Model.ShowTariffs)
            {
                rowspan = 12;
            }
            else if (i == 1 && !Model.ShowTariffs)
            {
                rowspan = 8;
            }
            else if (i == 11 && Model.ShowTariffs)
            {
                rowspan = 14;
            }
            else if (i == 11 && !Model.ShowTariffs)
            {
                rowspan = 10;
            }
            
            @* Строка с объемами потребления *@
            <tr>
                @if (i != 2 && i != 3 && i != 4 && i != 12 && i != 13 && i != 14 && i != 15)
                {
                    <td rowspan="@rowspan.ToString()">@Html.Encode((i + 1).ToString())</td>
                }

                <td class="editor-label" @if (i == 11 || !Model.ShowTariffs) { <text>rowspan="2"</text> } else {<text>rowspan="3"</text>}>
                    @Html.Encode(Model.GetFieldTitle(i))
                </td>

                <td class="editor-label">@Html.Encode(Navitas.Resources.Strings.ConsumptionNatural + ", " + Model.ValueUnits[i])</td>
               
                @Html.EditorFor(model => model.Values[i], "TwelveMonthsNumbers", new { Prefix = "Values[" + i.ToString() + "]", ShowTotal = true })
            </tr>
                            
            @* Строка с затратами *@
            <tr>
                <td class="editor-label">@Navitas.Resources.Strings.InputsRublesNds</td>
                @Html.EditorFor(model => model.ValuesRUR[i], "TwelveMonthsNumbers", new { Prefix = "ValuesRUR[" + i.ToString() + "]", ShowTotal = true })
            </tr>
                
            @* Строка с тарифами *@
                if (Model.ShowTariffs)
                {
                <tr @if (i == 11)
                    { <text>style="display: none"</text> }>
                    <td class="editor-label">@Navitas.Resources.Strings.TariffRubles</td>
                    @Html.EditorFor(model => model.Tariffs[i], "TwelveMonthsNumbers", new { Prefix = "Tariffs[" + i.ToString() + "]", ShowTotal = false })
                </tr>
            }
        }
    </tbody>
</table>    
    
